<template>
<div>
  <form-data :title="'Add New User'" :user="user" :action="saveData"></form-data>
</div>
</template>

<script>
import Swal from "sweetalert2";
import api from "@/common/api.services";
export default {
  data() {
    return {
      user: {
        name: "",
        email: "",
        role: "user",
        password: "",
        notelp: ""
      }
    };
  },
  components: {
    FormData: () => import("@/components/admin/formUser.vue"),
    loading: () => import("@/components/loading.vue")
  },
  methods: {
    saveData() {
      //untuk menyimpan data
      this.loading = true;
      api
        .postApi("/user/register", {
          name: this.user.name,
          email: this.user.email,
          notelp: this.user.notelp,
          role: this.user.role,
          password: this.user.password
        })
        .then(r => {
          console.log(r.statusText);
          this.loading = false;
          Swal.fire("Data", "Berhasil Diinput", "success");
          this.$router.push("/admin/user");
        })
        .catch(e => {
          this.loading = false;
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(e);
        });
    }
  }
};
</script>

<style>
</style>
