<template>
<div>
  <v-btn color="primary" to="/admin/user/add">
    <v-icon>add</v-icon>
    Input User
  </v-btn>
  <br /><br />
  <div>
    <data-table :headers='headers' :title='title' :items='items' :search.sync='cari'>
      <template slot="field" slot-scope="props">
        <td class="text-md-left">{{ props.props.item.name }}</td>
        <td class="text-md-left">{{ props.props.item.email }}</td>
        <td class="text-md-left">{{ props.props.item.role }}</td>
        <td class="text-md-left">{{ props.props.item.notelp }}</td>
        <td>
          <v-tooltip left>
            <v-btn fab dark small color="success" slot="activator" :to="'/admin/user/'+props.props.item.id+'/edit'">
              <v-icon small dark>edit</v-icon>
            </v-btn>
            <span>Edit</span>
          </v-tooltip>
          <v-tooltip right>
            <v-btn fab dark small color="error" @click="confirmDel(props.props.item)" slot="activator">
              <v-icon small dark>delete</v-icon>
            </v-btn>
            <span>Delete</span>
          </v-tooltip>
        </td>
      </template>
    </data-table>
  </div>
</div>
</template>

<script>
import Swal from "sweetalert2";
import api from "@/common/api.services";
export default {
  data() {
    return {
      cari: "",
      title: "Data User",
      headers: [
        {
          text: "Nama User",
          value: "name",
          sortable: false
        },
        {
          text: "Username/ Email",
          align: "left",
          sortable: false,
          value: "email"
        },
        {
          text: "Role",
          sortable: false,
          value: "role"
        },
        {
          text: "No Telepon",
          sortable: false,
          value: "notelp"
        },
        {
          sortable: false,
          text: "Action",
          value: "action"
        }
      ],
      items: []
    };
  },
  created() {
    this.getAll();
  },
  methods: {
    getAll() {
      api
        .getApi("/user/role/user")
        .then(r => {
          this.items = r.data;
          this.loading = false;
          console.log(r);
        })
        .catch(e => {
          console.log(e);
        });
    },
    confirmDel(val) {
      Swal.fire({
        //alert konfrmasi
        title: "Kamu yakin ingin menghapus data ini?",
        text: "Data tidak dapat dipulihkan kembali!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, Saya Yakin!",
        cancelButtonText: "Batal"
      }).then(result => {
        //jika konfirmasi true
        if (result.value) {
          api
            .deleteApi("/user", val.id)
            .then(console.log("delete succes!"), this.getAll())
            .catch(e => console.log("error " + e));
          Swal.fire("Deleted!", "Data berhasil dihapus.", "success");
        }
      });
    }
  },
  components: {
    DataTable: () => import("@/components/admin/DataTable.vue"),
    Loading: () => import("@/components/loading.vue")
  }
};
</script>

<style>
</style>
