<template>
<div>
  <loading :value="loading"></loading>
  <form-data :title="'Edit Data jenis Alat'" :kategori="kategori" :action="saveData"></form-data>
</div>
</template>

<script>
import Swal from "sweetalert2";
import api from "@/common/api.services";
export default {
  data() {
    return {
      loading: false,
      kategori: {
        nm_alat: "",
        jumlah: "",
        ket: "",
        image: ""
      }
    };
  },

  created() {
    api
      .getById("/kategorialat", this.$route.params.id)
      .then(r => {
        console.log(r.data);
        this.kategori.nm_alat = r.data[0].nm_alat;
        this.kategori.jumlah = r.data[0].jumlah;
        this.kategori.ket = r.data[0].ket;
        this.kategori.image = r.data[0].image;
        console.log(r);
      })
      .catch(e => {
        console.log(e);
      });
  },
  methods: {
    saveData() {
      this.loading = true;
      api
        .updateApi("/kategorialat/" + this.$route.params.id, {
          nm_alat: this.kategori.nm_alat,
          jumlah: this.kategori.jumlah,
          ket: this.kategori.ket,
          image: this.kategori.image
        })
        .then(r => {
          console.log(r.statusText);
          Swal.fire("Data", "Berhasil Diupdate", "success");
          this.$router.push("/admin/kategorialat");
        })
        .catch(error => {
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(error);
        });
    }
  },
  components: {
    loading: () => import("@/components/loading.vue"),
    FormData: () => import("@/components/admin/formKategori.vue")
  }
};
</script>

<style>
</style>
