<template>
<div>
  <loading :value="loading"></loading>
  <form-data :title="'input kategori alat medis'" :kategori="kategori" :action="saveData"></form-data>
</div>
</template>

<script>
import Swal from "sweetalert2";
import api from "@/common/api.services";

export default {
  data() {
    return {
      loading: false,
      kategori: {
        nm_alat: "",
        jumlah: 0,
        ket: "",
        image: ""
      }
    };
  },

  components: {
    FormData: () => import("@/components/admin/formKategori.vue"),
    loading: () => import("@/components/loading.vue")
  },
  methods: {
    saveData() {
      //method utk menyimpan data
      this.loading = true;
      api
        .postApi("/kategorialat", {
          //memanggil api post
          nm_alat: this.kategori.nm_alat,
          jumlah: this.kategori.jumlah,
          ket: this.kategori.ket,
          image: this.kategori.image
        })
        .then(r => {
          console.log(r.statusText);
          this.loading = false;
          Swal.fire("Data", "Berhasil Diinput", "success");
          this.$router.push("/admin/kategorialat");
        })
        .catch(e => {
          console.log(e);
          this.loading = false;
          Swal.fire("Data", "Data gagal Diinput", "error");
        });
    }
  }
};
</script>

<style>
</style>
