<template>
<div>
<loading :value="loading"></loading>

  <v-layout row wrap>
    <v-flex md8>
        <v-btn color="primary" to="/admin/kategorialat/add">
          Add
          <v-icon>input</v-icon>
        </v-btn>
    </v-flex>
    <v-flex md4>
      <!-- <v-card-text> -->
      <v-text-field placeholder="nama alat, ruangan" name="cari" v-model="cari" outline></v-text-field>
      <!-- </v-card-text> -->
    </v-flex>
  </v-layout>
   
  
  <!-- <br /><br /> -->
  <div>
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex xs12 sm12 md12 v-for="item in filterData" :key="item.id">
          <v-card color="#f7f6e7">
            <v-card-title primary class="title">{{item.nama_alat}}</v-card-title>
            <v-layout row>
              <v-flex xs12 sm3 md3>
                <v-card-text>
                  <!-- <v-avatar size="70px" color="grey lighten-4"> -->
                  <img width="200px" :src="'http://127.0.0.1:8000/imageAlat/' + item.image" alt="images">
                  <!-- </v-avatar> -->
                </v-card-text>
              </v-flex>
              <v-flex xs12 sm6 md7>
                <v-card-text>
                  <table>
                    <b><h2>
                    <tr>
                      <td>Nama ALat</td>
                      <td>:</td>
                      <td>{{item.nm_alat}}</td>
                      <!-- <td v-html="hightlightText(item.nm_alat, cari)"></td> -->
                    </tr>
                      </h2>
                    <tr>
                      <td>jumlah</td>
                      <td>:</td>
                      <td>{{item.jumlah}}</td>
                      <!-- <td>{{item.lenght}}</td> -->
                    </tr>
                    </b>
                  </table>
                </v-card-text>
              </v-flex>
              <v-flex md2 xs12 sm12>
                <v-card-actions>
                  <v-layout wrap align-center justify-center>
                    <v-flex md12 xs12 sm12>
                      <v-btn color="other" class="white--text" :to="'/admin/alatbykat/'+item.id">
                        <v-icon center dark>visibility</v-icon>
                      </v-btn>
                    </v-flex>
                    <v-flex md12 xs12 sm12>
                      <v-btn color="success" class="white--text" :to="'/admin/kategorialat/'+item.id+'/edit'">
                        <v-icon center dark>edit</v-icon>
                      </v-btn>
                    </v-flex>
                    <!-- </v-layout>
                  <v-layout> -->
                    <v-flex xs12 sm12 md12>
                      <v-btn color="error" class="white--text" @click="delData(item)">
                        <v-icon center dark>delete</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-card-actions>
              </v-flex>
            </v-layout>
          </v-card>
          <br>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</div>
</template>

<script>
import api from "@/common/api.services";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      cari: "",
      loading: true,
      datas: []
    };
  },
  created() {
    this.getAll();
  },
  methods: {
    delData(val) {
      Swal.fire({
        //alert konfrmasi
        title: "Kamu yakin ingin menghapus data ini?",
        text: "Data tidak dapat dipulihkan kembali!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, Saya Yakin!",
        cancelButtonText: "Batal"
      }).then(result => {
        //jika konfirmasi true
        if (result.value) {
          api
            .deleteApi("/kategorialat", val.id)
            .then(console.log("delete succes!"), this.getAll())
            .catch(e => console.log("error " + e));
          Swal.fire("Deleted!", "Data berhasil dihapus.", "success");
        }
      });
    },
    getAll() {
      api
        .getApi("/kategorialat")
        .then(r => {
          this.datas = r.data;
          this.loading = false;
          console.log(r);
        })
        .catch(e => {
          console.log(e);
        });
    }
    /*(fungsi higtlight) Fungsi yang akan kita buat 
    pada dasarnya akan melakukan replacement
    berdasarkan kata kunci yang ditemukan dari sebuah text yang dilemparkan*/
    // hightlightText: function(words, query) {
    //   function pregQuete(str) {
    //     return (str.trim() + "").replace(
    //       /([\\\.\+\*\?\[\^\]\$\(\)\{\}\=\!\<\>\|\:])/g,
    //       "\\$1"
    //     );
    //   }
    //   var iQuery = new RegExp(pregQuete(query), "ig");
    //   return words.toString().replace(iQuery, function(matchedTxt, a, b) {
    //     return "<span class='hightlight'>" + matchedTxt + "</span>";
    //   });
    // }
  },
  components: {
    Loading: () => import("@/components/loading.vue")
  },
  computed: {
    filterData() {
      //fungsi untuk memfilter data
      let self = this;
      return self.datas.filter(post => {
        let sameAlat = post.nm_alat
          .toLowerCase()
          .includes(self.cari.toLowerCase());

        return sameAlat;
      });
    }
  }
};
</script>

<style>
</style>
