<template>
<div>

  <v-toolbar color="#139c18" dark app :clipped-left="$vuetify.breakpoint.mdAndUp" fixed>
    <v-toolbar-title style="width: 700px" class="ml-0 pl-3">
      <v-avatar class="white" >
        <img src="@/assets/rsunand.png" width="50px" alt="avatar">
      </v-avatar>
      <span class="hidden-sm-and-down"> Sistem Informasi Inventaris Alat Medis RS UNAND</span>

    </v-toolbar-title>
    <v-spacer />

    <v-toolbar-items>
      
    </v-toolbar-items>
    <template v-slot:extension>
        <v-tabs
          v-model="tabs"
          align-with-title color="transparent"
        >
          <v-tab to="/user/dashboard">home</v-tab>
          <v-tab to="/user/alats">alat</v-tab>
          <v-tab to="#three">Item Three</v-tab>
          <v-tabs-slider color="pink"></v-tabs-slider>
        </v-tabs>
        <v-btn flat color="#FFFFFF" @click="logout()">Logout
        <v-icon>logout</v-icon>
      </v-btn>
      </template>
      
  </v-toolbar>
  <slot name="content"></slot>
    <v-footer dark  height="auto" >
    <v-card class="flex" flat  tile >
      <v-card-title class="primary">
        <strong class="subheading">Get connected with us on social networks!</strong> 
        <v-spacer></v-spacer>
        <v-btn v-for="icon in icons" :key="icon"
          class="mx-3" dark icon>
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn>
      </v-card-title> 
      <v-card-actions class="yellow darken-3 justify-center">
        &copy;2019 — <strong>Yogra Pradipta</strong>
      </v-card-actions>
    </v-card>
  </v-footer>
</div>
</template>

<script>
export default {
  data() {
    return {
      icons: [
        "fab fa-facebook",
        "fab fa-twitter",
        "fab fa-google-plus",
        "fab fa-linkedin",
        "fab fa-instagram"
      ]
    };
  },
  methods: {
    logout() {
      this.$auth.destroyToken();
      localStorage.clear();
      location.reload(true);
    }
  }
};
</script>



<style>
</style>
