<template>
    <div>
        <v-card-title>
          <span class="headline">Detail Maintenance Alat </span>
        </v-card-title>
        <v-card height="auto" class="cardgrey">
            <v-container>
            <v-layout row wrap >
                    <v-flex sm12 md4>
                        <img width="300px" :src="'http://127.0.0.1:8000/imageAlat/' + jenis.image" alt="gambar alat medis">
                    </v-flex>
                    <v-flex sm12 md8>
                        <v-card-text> 
                        <table><h3>
                            <tr>
                                <td>Nama Alat </td>
                                <td>:</td>
                                <td>{{jenis.nm_alat}}</td>
                            </tr>
                            <tr>
                                <td>Serial Number </td>
                                <td>:</td>
                                <td>{{datas.serial_number}}</td>
                            </tr>
                            <tr>
                                <td>Merek</td>
                                <td>:</td>
                                <td>{{datas.merek}}</td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td>:</td>
                                <td>{{datas.type}}</td>
                            </tr>
                            <tr>
                                <td>Ruangan</td>
                                <td>:</td>
                                <td>{{ruang.nm_ruang}}</td>
                            </tr>
                            <tr>
                                <td>Waktu Request</td>
                                <td>:</td>
                                <td>{{datas.waktu_request}}</td>
                            </tr>
                            <tr>
                                <td>yang melapor</td>
                                <td>:</td>
                                <td>{{user.name}}</td>
                            </tr>
                            
                            </h3>
                            </table>
                        <v-textarea v-model="datas.problem" readonly append-icon="warning" outline light name="input-7-4" label="Problem Alat" ></v-textarea>
                        </v-card-text>                      
                    </v-flex>
            </v-layout>
            <v-layout row wrap>
                <v-flex md4 sm12>
                    <v-card-text>
                        <v-text-field label="waktu response" v-model="datas.waktu_response"></v-text-field>
                        
                    </v-card-text>
                </v-flex>    
                <v-flex md4 sm12>
                    <v-card-text>
                        <v-text-field label="analisa" v-model="datas.analisa"></v-text-field>
                        
                    </v-card-text>
                </v-flex>
                <v-flex md4 sm12>
                    <v-card-text>
                            <v-combobox v-model="datas.hasil" :items="cmbHasil" label="Hasil Maintenance"></v-combobox>
                    </v-card-text>
                </v-flex>
                <v-flex md12 sm12>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" @click="saveData()">Save</v-btn>
                        <v-btn color="warning" to="/admin/maintenance">Cancel</v-btn>
                    </v-card-actions>
                </v-flex>
            </v-layout>
            </v-container>
        </v-card>
    </div>
</template>
<script>
import api from "@/common/api.services";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      loading: false,
      datas: [],
      waktu_response: "",
      jenis: [],
      ruang: [],
      user: [],
      cmbHasil: ["Layak Pakai", "menunggu sparepart", "tidak layak pakai"]
    };
  },
  created() {
    this.getData();
    console.log(this.jenis.image);
  },
  methods: {
    saveData() {
      //   this.loading = true;
      api
        .updateApi("/maintenance/" + this.$route.params.id, {
          id_alat: this.datas.id_alat,
          id_kategori: this.jenis.id,
          id_ruang: this.ruang.ruang,
          id_user: "16",
          serial_number: this.datas.serial_number,
          merek: this.datas.merek,
          type: this.datas.type,
          waktu_response: this.datas.updated_at,
          problem: this.datas.problem,
          analisa: this.datas.analisa,
          hasil: this.datas.hasil,
          icon: "done_outline",
          color_icon: "primary"
        })
        .then(r => {
          console.log(r.statusText);
          Swal.fire("Data", "Berhasil Diupdate", "success");
          this.$router.push("/admin/maintenance");
        })
        .catch(error => {
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(error);
        });
    },
    getData() {
      api
        .getById("/maintenance", this.$route.params.id)
        .then(r => {
          console.log(r.data);
          this.datas = r.data[0];
          api
            .getById("/kategorialat", r.data[0].id_kategori)
            .then(res => {
              this.jenis = res.data[0];
            })
            .catch(e => {
              console.log(e);
            });
          api
            .getById("/ruang", r.data[0].id_ruang)
            .then(res => {
              this.ruang = res.data[0];
            })
            .catch(e => {
              console.log(e);
            });
          //   api
          //     .getById("/user", r.data[0].id_user)
          //     .then(r => {
          //       console.log(r.data);
          //       this.user = r.data[0];
          //     })
          //     .catch(e => {
          //       console.log(e);
          //     });
        })
        .catch(e => {
          console.log(e);
        });
    }
  }
};
</script>
<style>
</style>
