<template>
<div>
  <loading :value="loading"></loading> 
  <v-btn  dark to="/admin/print-maintenance" color="print">
    <v-icon normal dark>print</v-icon>
  </v-btn>
  <v-layout >
    <v-flex md3 sm8 xs10>
      <v-menu v-model="toprint" :close-on-content-click="false"
            :nudge-right="40" lazy transition="scale-transition"
            offset-y full-width min-width="290px" >
            <template v-slot:activator="{ on }">
              <v-text-field v-model="select" label="Waktu masuk"
                prepend-icon="event" readonly v-on="on" >
              </v-text-field>
            </template>
            <v-date-picker v-model="select" type="month" width="290" @input="toprint=false" class="mt-4" >
      </v-date-picker>
      </v-menu>
    </v-flex>
      <v-flex md3 md2 xs2>
        <v-btn flat color="primary" fab small @click="refresh()">
          <v-icon large dark>cached</v-icon>
        </v-btn>
      </v-flex>
  </v-layout>
  <div>
    <data-table :headers='headers' :title='title' :items='filterData' :search.sync='cari'>
      <template slot="field" slot-scope="props">
        <td class="text-md-left" style="padding:0 5px">{{ props.props.item.serial_number }}</td>
        <td class="text-md-left" style="padding:0 5px">{{ props.props.item.nm_alat }}</td>
        <td class="text-md-left" style="padding:0 5px">{{ props.props.item.merek }}</td>
        <td class="text-md-left">{{ props.props.item.type }}</td>
        <td class="text-md-left" style="padding:0 10px">{{ props.props.item.waktu_request }}</td>
        <td class="text-md-left" style="padding:0 8px">{{ props.props.item.name }}</td>
        <td class="text-md-left" style="padding:0 8px">{{ props.props.item.nm_ruang }}</td>
        <td style="padding:0 0; width:50px">
          <v-tooltip left>
            <v-btn fab dark small :color="props.props.item.color_icon" slot="activator" :to="'/admin/maintenance/'+props.props.item.id+'/edit'">
              <v-icon small dark>{{props.props.item.icon}}</v-icon>
            </v-btn>
            <span>Edit</span>
          </v-tooltip>
          <v-tooltip right>
            <v-btn fab dark small outline color="print" slot="activator" :to="'/admin/print-detail-maintenance/'+props.props.item.id">
              <v-icon small dark>print</v-icon>
            </v-btn>
            <span>print</span>
          </v-tooltip>
        </td>
      </template>
    </data-table>
  </div>
</div>
</template>

<script>
import api from "@/common/api.services";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      cari: "",
      select: "",
      toprint: false,
      loading: true,
      title: "Maintenance Alat",
      headers: [
        {
          text: "Serial Number",
          value: "serial_number"
        },
        {
          text: "Alat",
          align: "left",
          sortable: false,
          value: "nm_alat"
        },
        {
          text: "Merek",
          sortable: false,
          value: "merek"
        },
        {
          text: "Type",
          sortable: false,
          value: "type"
        },
        {
          text: "Waktu Request",
          value: "waktu_request"
        },
        {
          text: "User",
          sortable: false,
          value: "name"
        },
        {
          text: "Ruangan",
          sortable: false,
          value: "nm_ruang"
        },
        {
          sortable: false,
          text: "Action",
          value: "action"
        }
      ],
      items: []
    };
  },
  created() {
    this.getAll();
  },

  methods: {
    getAll() {
      api
        .getApi("/getdatamaintenance")
        .then(r => {
          this.items = r.data;
          this.loading = false;
          console.log(r);
        })
        .catch(e => {
          console.log(e);
          this.loading = false;
        });
    },
    refresh() {
      this.select = "";
    }
  },
  computed: {
    filterData() {
      //fungsi untuk memfilter data
      let self = this;
      return self.items.filter(post => {
        let sameDate = post.waktu_request
          .toLowerCase()
          .includes(self.select.toLowerCase());

        return sameDate;
      });
    }
  },

  components: {
    Loading: () => import("@/components/loading.vue"),
    DataTable: () => import("@/components/admin/DataTable.vue")
  }
};
</script>

<style>
</style>
