<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>proyek_ta</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

  <!-- utk prores bar -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/nprogress@0.2.0/nprogress.css" /> -->

</head>

<body>
  <noscript>
    <strong>We're sorry but pro_ta doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->

  <!-- utk prores bar -->
  <!-- <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js></script> -->

</body>

</html>