<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">{{ title }}</span>
    </v-card-title>
    <v-form>
      <v-card-text>
        <v-text-field label="Nama Instalasi" v-model="instalasi.nm_instalasi"></v-text-field>
        <!-- <v-text-field label="Bidang Medis" v-model="instalasi.id_bidang"></v-text-field> -->
        <v-autocomplete v-model="instalasi.id_bidang" :items="cmbBidang"
         label="Pilih Bidang Medis">
        </v-autocomplete>
        <v-textarea name="input-7-1" v-model="instalasi.ket" label="Deskripsi Instalasi">
        </v-textarea>

      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="action">Save</v-btn>
        <v-btn color="warning" to="/admin/instalasi">Cancel</v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</div>
</template>

<script>
import api from "@/common/api.services";
export default {
  data() {
    return {
      cmbBidang: []
    };
  },
  methods: {
    getBidang() {
      api
        .getApi("/bidang") //untuk mendapatkan combobox dari tabel bidang
        .then(r => {
          r.data.forEach(element => {
            let val = {
              text: element.nm_bidang,
              value: element.id
            };
            this.cmbBidang.push(val);
          });
          console.log(r);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  created() {
    this.getBidang();
  },
  props: ["title", "instalasi", "action"]
};
</script>

<style>
</style>
