<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">{{ title }}</span>
    </v-card-title>
    <v-form>
      <v-card-text>
        <v-autocomplete v-model="mutableAlat.id_alat" :items="cmbKategori"
         label="Pilih ALat">
        </v-autocomplete>
        <v-text-field counter="number" label="Serial Number" v-model="mutableAlat.serial_number" append-icon="plus_one"></v-text-field>
        <v-text-field label="Merek" v-model="mutableAlat.merek" append-icon="airline_seat_flat_angled"></v-text-field>
        <v-text-field label="Tipe/Model" v-model="mutableAlat.type"></v-text-field>
        <v-menu v-model="tgl_masuk" :close-on-content-click="false"
          :nudge-right="40" lazy transition="scale-transition"
          offset-y full-width min-width="290px" >
          <template v-slot:activator="{ on }">
            <v-text-field v-model="mutableAlat.tanggal_masuk" label="Tanggal Masuk"
              append-icon="event" readonly v-on="on" >
            </v-text-field>
          </template>
          <v-date-picker v-model="mutableAlat.tanggal_masuk" @input="tgl_masuk = false"></v-date-picker>
        </v-menu>
        <v-autocomplete v-model="mutableAlat.id_ruang" :items="cmbRuang"
         label="Pilih Ruangan Alat">
        </v-autocomplete>
        <v-menu v-model="tgl_kalibrasi" :close-on-content-click="false"
          :nudge-right="40" lazy transition="scale-transition"
          offset-y full-width min-width="290px" >
          <template v-slot:activator="{ on }">
            <v-text-field v-model="mutableAlat.jadwal_kalibrasi" label="Jadwal Kalibrasi"
              append-icon="event" readonly v-on="on" >
            </v-text-field>
          </template>
          <v-date-picker v-model="mutableAlat.jadwal_kalibrasi" @input="tgl_kalibrasi = false"></v-date-picker>
        </v-menu>
        <!-- <v-text-field label="distributor" v-model="mutableAlat.id_distributor"></v-text-field> -->
        <v-autocomplete v-model="mutableAlat.id_distributor" :items="cmbDistributor"
         label="Pilih Distributor">
        </v-autocomplete>
        <v-textarea name="input-7-1" v-model="mutableAlat.deskripsi" label="Deskripsi Alat">
        </v-textarea>

      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="action">Save</v-btn>
        <v-btn color="warning" to="/admin/alat">Cancel</v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</div>
</template>

<script>
import api from "@/common/api.services";
export default {
  data() {
    return {
      tgl_kalibrasi: false,
      tgl_masuk: false,
      cmbKategori: [],
      cmbRuang: [],
      cmbDistributor: [],
      mutableAlat: this.alat
    };
  },
  methods: {
    getKategori() {
      api
        .getApi("/kategorialat") //untuk mendapatkan combobox dari tabel kategori
        .then(r => {
          r.data.forEach(element => {
            let val = {
              text: element.nm_alat,
              value: element.id
            };
            this.cmbKategori.push(val);
          });
          console.log(r);
        })
        .catch(e => {
          console.log(e);
        });
    },
    getRuang() {
      api
        .getApi("/ruang") //untuk mendapatkan combobox dari tabel ruangan
        .then(res => {
          res.data.forEach(element => {
            let val = {
              text: element.nm_ruang,
              value: element.id
            };
            this.cmbRuang.push(val);
          });
          console.log(r);
        })
        .catch(ex => {
          console.log(ex);
        });
    },
    getDistributor() {
      api
        .getApi("/distributor") //untuk mendapatkan combobox dari tabel ruangan
        .then(res => {
          res.data.forEach(element => {
            let val = {
              text: element.nm_distributor,
              value: element.id
            };
            this.cmbDistributor.push(val);
          });
          console.log(r);
        })
        .catch(ex => {
          console.log(ex);
        });
    }
  },
  created() {
    this.getKategori();
    this.getRuang();
    this.getDistributor();
  },
  props: [
    "title",
    // 'cmbKategori',
    "alat",
    "action"
  ]
};
</script>

<style>
</style>
