<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">{{ title }}</span>
    </v-card-title>
    <v-form>
      <v-card-text>
        <v-combobox v-model="select" :items="cmbAlat" label="Nama ALat"></v-combobox>
        <v-text-field label="Serial Number" v-model="select.sernum"></v-text-field>
        <v-text-field label="Merek" readonly="true" v-model="select.merek"></v-text-field>
        <v-text-field label="Type/Model" readonly="true" v-model="select.type"></v-text-field>
        <v-text-field label="Tahun Masuk" readonly="true" v-model="select.tahun_masuk"></v-text-field>
        <v-text-field label="Lokasi Alat" readonly="true" v-model="select.lokasi_alat"></v-text-field>
        <v-text-field label="Tanggal Kalibrasi" type="date" v-model="mutableDataKalibrasi.tgl_kalibrasi"></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="action">Save</v-btn>
        <v-btn color="warning" to="/admin/alatmasuk">Cancel</v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</div>
</template>

<script>
export default {
  data() {
    return {
      mutableDataKalibrasi: this.dataKalibrasi,
      select:"",
      cmbAlat:[],
    }
  },
  props: [
    'title',
    'dataKalibrasi',
    'items',
    'action'
  ],
  mounted() {
    this.items.forEach(item => {
      let data = {
        text: item.nama_alat,
        values: item.sernum,
        sernum: item.sernum,
        merek:item.merek,
        type:item.type,
        tahun_masuk:item.tahun_masuk,
        lokasi_alat:item.lokasi_alat
      }
      this.cmbAlat.push(data)
    })
  }
}
</script>

<style>

</style>
