<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">{{ title }}</span>
    </v-card-title>
    <v-form>
      <v-card-text>
        <v-text-field label="Bidang Medis" v-model="mutableBidang.nm_bidang"></v-text-field>
        <v-textarea name="input-7-1" v-model="mutableBidang.ket" label="Deskripsi Bidang">
        </v-textarea>

      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="action">Save</v-btn>
        <v-btn color="warning" to="/admin/bidang">Cancel</v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</div>
</template>

<script>
import api from "@/common/api.services";
export default {
  data() {
    return {
      mutableBidang: this.bidang
    };
  },
  methods: {
    getAll() {}
  },
  created() {},
  props: ["title", "bidang", "action"]
};
</script>

<style>
</style>
