<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">{{ title }}</span>
    </v-card-title>
    <v-form>
      <v-card-text>
        <v-text-field label="Nama Alat" v-model="mutableKategori.nm_alat"></v-text-field>
        <v-text-field type="number" readonly="true" label="jumlah" v-model="mutableKategori.jumlah"></v-text-field>
        <v-textarea label="keterangan" v-model="mutableKategori.ket"></v-textarea>
        <v-text-field label="image" prepend-icon="image" disabled v-model="mutableKategori.image"></v-text-field>
        <input type="file" @change="imageChanged" />

      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="action">Save</v-btn>
        <v-btn color="warning" to="/admin/kategorialat">Cancel</v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</div>
</template>

<script>
export default {
  data() {
    return {
      mutableKategori: this.kategori,
      selectedFile: null
    };
  },
  methods: {
    upload(e) {
      let img = e.target.files[0];
      let fd = new FormData();

      fd.append("image", img);
    },
    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.$root.imageName = files[0].name;
        if (this.$root.imageName.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.$root.imageUrl = fr.result;
          this.$root.imageFile = files[0];
        });
      } else {
        this.$root.imageName = "";
        this.$root.imageFile = "";
        this.$root.imageUrl = "";
      }
    },
    imageChanged(e) {
      var fileReader = new FileReader();
      fileReader.readAsDataURL(e.target.files[0]);
      fileReader.onload = e => {
        this.mutableKategori.image = e.target.result;
      };
    }
  },
  props: ["title", "kategori", "action"]
};
</script>

<style>
</style>
