<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">{{ title }}</span>
    </v-card-title>
    <v-form>
      <v-card-text>
        <v-text-field label="Nama Distributor" v-model="distributor.nm_distributor"></v-text-field>
        <v-text-field label="Nomor Telepon" v-model="distributor.no_telp"></v-text-field>

      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="action">Save</v-btn>
        <v-btn color="warning" to="/admin/distributor">Cancel</v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</div>
</template>

<script>
import api from "@/common/api.services";
export default {
  data() {
    return {};
  },
  methods: {
    getAll() {}
  },
  created() {},
  props: ["title", "distributor", "action"]
};
</script>

<style>
</style>
