<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">{{ title }}</span>
    </v-card-title>
    <v-form>
      <v-card-text>
        <v-text-field label="Nama user" v-model="mutableUser.name"></v-text-field>
        <v-text-field label="Username/Email" v-model="mutableUser.email"></v-text-field>
        <v-text-field label="Nomor Telepon" v-model="mutableUser.notelp"></v-text-field>
        <v-text-field label="Role" readonly="true" v-model="mutableUser.role"></v-text-field>
        <v-text-field label="Password" v-model="mutableUser.password"></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="action">Save</v-btn>
        <v-btn color="warning" to="/admin/user">Cancel</v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</div>
</template>

<script>
export default {
  data() {
    return {
      mutableUser: this.user
    };
  },
  props: ["title", "user", "action"]
};
</script>

<style>
</style>
