<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">{{ title }}</span>
    </v-card-title>
    <v-form>
      <v-card-text>
        <v-text-field label="Nama Ruangan" v-model="ruang.nm_ruang"></v-text-field>
        
        <!-- <v-text-field label="Instalasi" v-model="ruang.id_instalasi"></v-text-field> -->
        <v-autocomplete v-model="ruang.id_instalasi" :items="cmbInstalasi"
         label="Pilih Bagian Instalasi">
        </v-autocomplete>
        <v-textarea name="input-7-1" v-model="ruang.ket" label="Deskripsi Ruangan">
        </v-textarea>
        

      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="action">Save</v-btn>
        <v-btn color="warning" to="/admin/ruang">Cancel</v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</div>
</template>

<script>
import api from "@/common/api.services";
export default {
  data() {
    return {
      cmbInstalasi: []
    };
  },
  methods: {
    getInstalasi() {
      api
        .getApi("/instalasi") //untuk mendapatkan combobox dari tabel instalasi
        .then(res => {
          res.data.forEach(element => {
            let val = {
              text: element.nm_instalasi,
              value: element.id
            };
            this.cmbInstalasi.push(val);
          });
          console.log(r);
        })
        .catch(ex => {
          console.log(ex);
        });
    }
  },
  created() {
    this.getInstalasi();
  },
  props: ["title", "ruang", "action"]
};
</script>

<style>
</style>
