<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">{{ title }}</span>
    </v-card-title>
    <v-form>
      <v-card-text>
        <v-text-field label="Serial Number" type="number" v-model="mutableAlatMasuk.sernum"></v-text-field>
        <v-text-field label="Nama Alat" v-model="mutableAlatMasuk.nama_alat"></v-text-field>
        <v-text-field label="Merek" v-model="mutableAlatMasuk.merek"></v-text-field>
        <v-text-field label="Type/Model" v-model="mutableAlatMasuk.type"></v-text-field>
        <v-text-field label="Tahun Masuk" v-model="mutableAlatMasuk.tahun_masuk"></v-text-field>
        <v-text-field label="Lokasi Alat" v-model="mutableAlatMasuk.lokasi_alat"></v-text-field>
        <v-text-field label="Tanggal Kalibrasi" type="date" v-model="mutableAlatMasuk.tgl_kalibrasi"></v-text-field>
        <v-textarea name="input-7-1" v-model="mutableAlatMasuk.deskripsi" label="Deskripsi Alat">
        </v-textarea>
        <v-text-field label="image" prepend-icon="image" disabled v-model="mutableAlatMasuk.image"></v-text-field>
        <input type="file" @change="imageChanged" />
        </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="action">Save</v-btn>
        <v-btn color="warning" to="/admin/alatmasuk">Cancel</v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</div>
</template>

<script>
export default {
  data() {
    return {
      // 'workshipType': ['Shalat', 'Puasa'],
      // 'workshipFatwa': ['Wajib', 'Sunnah'],
      'mutableAlatMasuk': this.alatMasuk,
    }
  },
  props: [
    'title',
    'alatMasuk',
    'action'
  ],
}
</script>

<style>

</style>
