<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">{{ title }}</span>
    </v-card-title>
    <v-form>
      <v-card-text>
        <v-text-field label="Nama Admin" v-model="mutableAdmin.name"></v-text-field>
        <v-text-field label="Email/Username" v-model="mutableAdmin.email"></v-text-field>
        <v-text-field label="Password" v-model="mutableAdmin.password"></v-text-field>
        <v-combobox v-model="mutableAdmin.role" :items="cmbRole" label="pilih role"></v-combobox>
        <v-text-field label="nomor telepon" v-model="mutableAdmin.notelp"></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="action">Save</v-btn>
        <v-btn color="warning" to="/admin/master-admin">Cancel</v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</div>
</template>

<script>
export default {
  data() {
    return {
      mutableAdmin: this.admin,
      cmbRole: ["admin", "user"]
    };
  },
  props: ["title", "admin", "action"]
};
</script>

<style>
</style>
