<template>
<div>
  <v-card color="#f7f6e7">
    <v-card-title primary class="title">{{data.nama_alat}}</v-card-title>
    <v-layout row>
      <v-flex xs12 sm3 md3>
        <v-card-text >
          <!-- <v-avatar size="70px" color="grey lighten-4"> -->
            <img width="200px" :src="'http://127.0.0.1:8000/imageAlat/' + data.image" alt="images">
          <!-- </v-avatar> -->
        </v-card-text>
      </v-flex>
      <v-flex xs12 sm6 md7>
        <v-card-text>
          <table>
            <tr>
              <td>serial number</td>
              <td>:</td>
              <td>{{data.sernum}}</td>
            </tr>
            <tr>
              <td>Lokasi ALat</td>
              <td>:</td>
              <td>{{data.nama_alat}}</td>
            </tr>
            <tr>
              <td>Tanggal Kalibrasi</td>
              <td>:</td>
              <td>{{data.merek}}</td>
            </tr><tr>
              <td>Type</td>
              <td>:</td>
              <td>{{data.type}}</td>
            </tr>
          </table>
        </v-card-text>
      </v-flex>
      <v-flex md2 xs12 sm12>
        <v-card-actions>
          <v-layout wrap align-center justify-center>
            <v-flex md12 xs12 sm12>
              <v-btn color="other" class="white--text" :to="'/admin/alat/'+data.id+'/edit'">
                <v-icon center dark>visibility</v-icon>
              </v-btn>
            </v-flex>
            <v-flex md12 xs12 sm12>
              <v-btn color="success" class="white--text" :to="'/admin/alat/'+data.serial_number+'/edit'">
                <v-icon center dark>edit</v-icon>
              </v-btn>
            </v-flex>
            <!-- </v-layout>
          <v-layout> -->
            <v-flex xs12 sm12 md12>
              <v-btn color="error" class="white--text" @click="delData">
                <v-icon center dark>delete</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-flex>
    </v-layout>
  </v-card>
  <br>
</div>
</template>

<script>
export default {
  data() {
    return {

    }
  },
  props: [
    'data',
    'delData'
  ]
}
</script>

<style>

</style>
