<template>
<div>
  <v-navigation-drawer class="hide-to-print" fixed :clipped="$vuetify.breakpoint.mdAndUp" app v-model="drawer">
    <v-card  height="auto">

    <v-img src="https://www.unand.ac.id/media/k2/items/cache/887cc3f90c23277caf06925a32ec96c5_XL.jpg" height="150px">
      <v-layout row wrap align-end fill-height >
        <v-flex md12>
          <v-card-text >
            
            <!-- <v-avatar size="70px"> -->
            <img src="@/assets/rsunand.png" width="60px" alt="avatar">
            <!-- </v-avatar> -->
            <br>
            <b>Administrator</b>
          </v-card-text>
        </v-flex>
      </v-layout>
    </v-img>
    </v-card>
    <v-list dense>
      <v-divider></v-divider>
      <template v-for="item in items">
        <!-- <v-layout row v-if="item.heading" align-center :key="item.heading">
          <v-flex xs6>
            <v-subheader v-if="item.heading">{{ item.heading }}</v-subheader>
          </v-flex>
          <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
        </v-layout> -->
        <!-- <v-list-group v-else-if="item.children" v-model="item.model" :key="item.text" :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon> -->
        <v-list-group v-if="item.children" v-model="item.model" :key="item.text" :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon>
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>{{ item.text }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile v-for="(child, i) in item.children" :key="i" :to="child.to">
            <v-list-tile-action v-if="child.icon">
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ child.text }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
        <v-list-tile v-else :key="item.text" :to="item.to">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.text }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </v-list>
  </v-navigation-drawer>

  <v-toolbar color="#139c18" dark app :clipped-left="$vuetify.breakpoint.mdAndUp" fixed>
    <v-toolbar-title style="width: 700px" class="ml-0 pl-3">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <!-- <v-avatar size="70px">
        <img src="@/assets/rsunand.png" width="50px" alt="avatar">
      </v-avatar> -->
      <span class="hidden-sm-and-down"> Sistem Informasi Inventaris Alat Medis RS UNAND</span>

    </v-toolbar-title>
    <v-spacer />

    <!-- <template v-if="$vuetify.breakpoint.smAndUp">
      <v-btn icon small>
        <v-icon>announcement</v-icon>
      </v-btn>
    </template> -->
    <v-toolbar-items>
      <v-btn icon large flat>
        <v-icon>announcement</v-icon>
      </v-btn>
      <v-btn flat color="#FFFFFF" @click="logout()">
        <v-icon>logout</v-icon>
      </v-btn>
    </v-toolbar-items>
  </v-toolbar>
  <slot name="content"></slot>
</div>
</template>

<script>
export default {
  data() {
    return {
      drawer: null,
      items: [
        {
          icon: "home",
          text: "Home",
          to: "/admin/dashboard"
        },
        {
          icon: "assignment",
          text: "Jenis Alat Medis",
          to: "/admin/kategorialat"
        },
        {
          icon: "assignment",
          text: "data semua alat",
          to: "/admin/alat"
        },
        {
          icon: "assignment",
          text: "Data Maintenance",
          to: "/admin/maintenance"
        },
        {
          icon: "assignment",
          text: "alat keluar",
          to: "/admin/alatkeluar"
        },
        {
          icon: "assignment",
          text: "Bidang Medis",
          to: "/admin/bidang"
        },
        {
          icon: "assignment",
          text: "Data Instalasi",
          to: "/admin/instalasi"
        },
        {
          icon: "assignment",
          text: "Data Ruang",
          to: "/admin/ruang"
        },
        {
          icon: "assignment",
          text: "distributor",
          to: "/admin/distributor"
        },
        {
          icon: "keyboard_arrow_up",
          "icon-alt": "keyboard_arrow_down",
          text: "Report",
          model: false,
          children: [
            {
              icon: "person",
              text: "Semua Alat",
              to: "/admin/print-alat"
            },
            {
              icon: "person",
              text: "Maintenance",
              to: "/admin/print-maintenance"
            },
            {
              icon: "person",
              text: "Alat Keluar",
              to: "/admin/print-keluar"
            }
          ]
        },
        {
          icon: "keyboard_arrow_up",
          "icon-alt": "keyboard_arrow_down",
          text: "Menu",
          model: false,
          children: [
            {
              icon: "person",
              text: "Admin",
              to: "/admin/admin"
            },
            {
              icon: "person",
              text: "user",
              to: "/admin/user"
            },
            {
              icon: "person",
              text: "Master Admin",
              to: "/admin/master-admin"
            }
            // {
            //   icon: "book",
            //   text: "hal1",
            //   to: "/admin/hal1"
            // }
          ]
        },

        {
          icon: "logout",
          text: "Logout",
          to: ""
        }
      ]
    };
  },
  methods: {
    logout() {
      this.$auth.destroyToken();
      location.reload(true);
      localStorage.clear();
    }
  }
};
</script>



<style>
</style>
