<template>
<div>
  <form-data :title="'Add New Kalibrasi'" :items="items" :dataKalibrasi="dataKalibrasi" :action="saveData"></form-data>
</div>
</template>

<script>
export default {
  data() {
    return {
      'dataKalibrasi':[],
      items: [{
          nama_alat: 'Frozen Yogurt',
          merek: 159,
          type: 6.0,
          sernum: 1,
          tahun_masuk: 4.0,
          lokasi_alat: '1%',
          tgl_keluar: '12-12-12'
        },
        {
          nama_alat: 'Ice cream sandwich',
          merek: 159,
          type: 6.0,
          sernum: 2,
          tahun_masuk: 4.0,
          lokasi_alat: '1%',
          tgl_keluar: '12-12-12'
        },
        {
          nama_alat: 'Eclair',
          merek: 159,
          type: 6.0,
          sernum: 3,
          tahun_masuk: 4.0,
          lokasi_alat: '1%',
          tgl_keluar: '12-12-12'
        },
        {
          nama_alat: 'Cupcake',
          merek: 159,
          type: 6.0,
          sernum: 4,
          tahun_masuk: 4.0,
          lokasi_alat: '1%',
          tgl_keluar: '12-12-12'
        },
        {
          nama_alat: 'Gingerbread',
          merek: 159,
          type: 6.0,
          sernum: 5,
          tahun_masuk: 4.0,
          lokasi_alat: '1%',
          tgl_keluar: '12-12-12'
        },
        {
          nama_alat: 'pie',
          merek: 159,
          type: 6.0,
          sernum: 6,
          tahun_masuk: 4.0,
          lokasi_alat: '1%',
          tgl_keluar: '12-12-12'
        },
        {
          nama_alat: 'Marsmellow',
          merek: 159,
          type: 6.0,
          sernum: 7,
          tahun_masuk: 4.0,
          lokasi_alat: '1%',
          tgl_keluar: '12-12-12'
        },
      ],
      ygDiedit:[
        {
            nama_alat: 'Frozen Yogurt',
            merek: 159,
            type: 6.0,
            sernum: 1,
            tahun_masuk: 4.0,
            lokasi_alat: '1%',
            tgl_keluar: '12-12-12'
          }
      ]
    }
  },
  created(){
    this.ygDiedit.forEach(pilih=>{
      let data={
        nama_alat: pilih.nama_alat
      }
      this.dataKalibrasi.push(data)
    })
  },
  components: {
    FormData: () => import('@/components/admin/formKalibrasi.vue')
  },
  methods: {
    saveData() {

    }
  }

}
</script>

<style>

</style>
