<template>
<div>
  <v-btn color="primary" to="/admin/kalibrasi/add">
    <v-icon>add</v-icon>
    Input Data Kalibrasi
  </v-btn>
  <br /><br />
  <div>
    <data-table :headers='headers' :title='title' :items='items' :search.sync='cari'>
      <template slot="field" slot-scope="props">
        <td class="text-md-left">{{ props.props.item.sernum }}</td>
        <td class="text-md-left">{{ props.props.item.nama_alat }}</td>
        <td class="text-md-left">{{ props.props.item.merek }}</td>
        <td class="text-md-left">{{ props.props.item.type }}</td>
        <td class="text-md-left">{{ props.props.item.tahun_masuk }}</td>
        <td class="text-md-left">{{ props.props.item.lokasi_alat }}</td>
        <td class="text-md-left">{{ props.props.item.tgl_kalibrasi }}</td>
        <td>
          <v-tooltip left>
            <v-btn fab dark small color="success" slot="activator" :to="'/admin/kalibrasi/'+props.props.item.sernum+'/edit'">
              <v-icon small dark>edit</v-icon>
            </v-btn>
            <span>Edit</span>
          </v-tooltip>
          <v-tooltip right>
            <v-btn fab dark small color="error" slot="activator">
              <v-icon small dark>delete</v-icon>
            </v-btn>
            <span>Delete</span>
          </v-tooltip>
        </td>
      </template>
    </data-table>
  </div>
</div>
</template>

<script>
export default {
  data() {
    return {
      cari: '',
      title: 'Data Kalibrasi',
      headers: [
        {
          text: 'Serial Number',
          value: 'sernum'
        },
        {
          text: 'Nama Alat Masuk',
          align: 'left',
          sortable: false,
          value: 'nama_alat'
        },
        {
          text: 'Merek',
          sortable: false,
          value: 'merek'
        },
        {
          text: 'Type',
          sortable: false,
          value: 'type'
        },
        {
          text: 'Tahun Masuk',
          value: 'tahun_masuk'
        },
        {
          text: 'Lokasi Alat',
          sortable: false,
          value: 'lokasi_Alat'
        },
        {
          text: 'Tanggal Kalibrasi',
          value: 'tgl_kalibrasi'
        },
        {
          sortable: false,
          text: 'Action',
          value: 'action'
        },
      ],
      items: [{
          nama_alat: 'Frozen Yogurt',
          merek: 159,
          type: 6.0,
          sernum: 1,
          tahun_masuk: 4.0,
          lokasi_alat: '1%',
          tgl_kalibrasi: '12-12-12'
        },
        {
          nama_alat: 'Ice cream sandwich',
          merek: 159,
          type: 6.0,
          sernum: 2,
          tahun_masuk: 4.0,
          lokasi_alat: '1%',
          tgl_kalibrasi: '12-12-12'
        },
        {
          nama_alat: 'Eclair',
          merek: 159,
          type: 6.0,
          sernum: 3,
          tahun_masuk: 4.0,
          lokasi_alat: '1%',
          tgl_kalibrasi: '12-12-12'
        },
        {
          nama_alat: 'Cupcake',
          merek: 159,
          type: 6.0,
          sernum: 4,
          tahun_masuk: 4.0,
          lokasi_alat: '1%',
          tgl_kalibrasi: '12-12-12'
        },
        {
          nama_alat: 'Gingerbread',
          merek: 159,
          type: 6.0,
          sernum: 5,
          tahun_masuk: 4.0,
          lokasi_alat: '1%',
          tgl_kalibrasi: '12-12-12'
        },
        {
          nama_alat: 'pie',
          merek: 159,
          type: 6.0,
          sernum: 6,
          tahun_masuk: 4.0,
          lokasi_alat: '1%',
          tgl_kalibrasi: '12-12-12'
        },
        {
          nama_alat: 'Marsmellow',
          merek: 159,
          type: 6.0,
          sernum: 7,
          tahun_masuk: 4.0,
          lokasi_alat: '1%',
          tgl_kalibrasi: '12-12-12'
        },
      ],

    }
  },

  components: {
    DataTable: () => import('@/components/admin/DataTable.vue'),
  }
}
</script>

<style>

</style>
