<template>
<div>
  <form-data :title="'Add New Admin'" :admin="admin" :action="saveData"></form-data>
</div>
</template>

<script>
import Swal from "sweetalert2";
import api from "@/common/api.services";
export default {
  data() {
    return {
      admin: {
        name: "",
        username: "",
        password: "",
        role: "admin",
        notelp: ""
      }
    };
  },
  components: {
    FormData: () => import("@/components/admin/formAdmin.vue"),
    loading: () => import("@/components/loading.vue")
  },
  methods: {
    saveData() {
      //untuk menyimpan data
      this.loading = true;
      api
        .postApi("user/register", {
          name: this.admin.name,
          email: this.admin.email,
          password: this.admin.password,
          role: this.admin.role,
          notelp: this.admin.notelp
        })
        .then(r => {
          console.log(r.statusText);
          this.loading = false;
          Swal.fire("Data", "Berhasil Diinput", "success");
          this.$router.push("/admin/admin");
        })
        .catch(e => {
          this.loading = false;
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(e);
        });
    }
  }
};
</script>

<style>
</style>
