<template>
<div>
  <form-data :title="'Edit data Ruangan'" :ruang="ruang" :action="saveData"></form-data>
</div>
</template>

<script>
import Swal from "sweetalert2";
import api from "@/common/api.services";
export default {
  data() {
    return {
      loading: false,
      ruang: {
        nm_ruang: "",
        id_instalasi: "",
        ket: ""
      }
    };
  },

  created() {
    api
      .getById("/ruang", this.$route.params.id)
      .then(r => {
        console.log(r.data);
        this.ruang.nm_ruang = r.data[0].nm_ruang;
        this.ruang.id_instalasi = r.data[0].id_instalasi;
        this.ruang.ket = r.data[0].ket;
        console.log(r);
      })
      .catch(e => {
        console.log(e);
      });
  },
  methods: {
    saveData() {
      this.loading = true;
      api
        .updateApi("/ruang/" + this.$route.params.id, {
          nm_ruang: this.ruang.nm_ruang,
          id_instalasi: this.ruang.id_instalasi,
          ket: this.ruang.ket
        })
        .then(r => {
          console.log(r.statusText);
          Swal.fire("Data", "Berhasil Diupdate", "success");
          this.$router.push("/admin/ruang");
        })
        .catch(error => {
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(error);
        });
    }
  },
  components: {
    loading: () => import("@/components/loading.vue"),
    FormData: () => import("@/components/admin/formRuang.vue")
  }
};
</script>

<style>
</style>
