<template>
<div>
<loading :value="loading"></loading>
  <form-data :title="'input bidang Ruangan'" :ruang="ruang" :action="saveData"></form-data>
</div>
</template>

<script>
import api from "@/common/api.services";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      loading: false,
      ruang: {
        nm_ruang: "",
        id_instalasi: "",
        ket: ""
      }
    };
  },

  components: {
    FormData: () => import("@/components/admin/formRuang.vue"),
    loading: () => import("@/components/loading.vue")
  },
  methods: {
    saveData() {
      //untuk menyimpan data
      this.loading = true;
      api
        .postApi("/ruang", {
          nm_ruang: this.ruang.nm_ruang,
          id_instalasi: this.ruang.id_instalasi,
          ket: this.ruang.ket
        })
        .then(r => {
          console.log(r.statusText);
          this.loading = false;
          Swal.fire("Data", "Berhasil Diinput", "success");
          this.$router.push("/admin/ruang");
        })
        .catch(e => {
          this.loading = false;
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(e);
        });
    }
  }
};
</script>

<style>
</style>
