<template>
<div>
  <form-data :title="'Edit data Bidang'" :bidang="bidang" :action="saveData"></form-data>
</div>
</template>

<script>
import Swal from "sweetalert2";
import api from "@/common/api.services";
export default {
  data() {
    return {
      loading: false,
      bidang: {
        nm_bidang: "",
        ket: ""
      }
    };
  },

  created() {
    api
      .getById("/bidang", this.$route.params.id)
      .then(r => {
        console.log(r.data);
        this.bidang.nm_bidang = r.data[0].nm_bidang;
        this.bidang.ket = r.data[0].ket;
        console.log(r);
      })
      .catch(e => {
        console.log(e);
      });
  },
  methods: {
    saveData() {
      this.loading = true;
      api
        .updateApi("/bidang/" + this.$route.params.id, {
          nm_bidang: this.bidang.nm_bidang,
          ket: this.bidang.ket
        })
        .then(r => {
          console.log(r.statusText);
          Swal.fire("Data", "Berhasil Diupdate", "success");
          this.$router.push("/admin/bidang");
        })
        .catch(error => {
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(error);
        });
    }
  },
  components: {
    loading: () => import("@/components/loading.vue"),
    FormData: () => import("@/components/admin/formBidang.vue")
  }
};
</script>

<style>
</style>
