<template>
<div>
<loading :value="loading"></loading>
  <form-data :title="'input bidang medis'" :bidang="bidang" :action="saveData"></form-data>
</div>
</template>

<script>
import api from "@/common/api.services";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      loading: false,
      bidang: {
        nm_bidang: "",
        ket: ""
      }
    };
  },

  components: {
    FormData: () => import("@/components/admin/formBidang.vue"),
    loading: () => import("@/components/loading.vue")
  },
  methods: {
    saveData() {
      //untuk menyimpan data
      this.loading = true;
      api
        .postApi("/bidang", {
          nm_bidang: this.bidang.nm_bidang,
          ket: this.bidang.ket
        })
        .then(r => {
          console.log(r.statusText);
          this.loading = false;
          Swal.fire("Data", "Berhasil Diinput", "success");
          this.$router.push("/admin/bidang");
        })
        .catch(e => {
          this.loading = false;
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(e);
        });
    }
  }
};
</script>

<style>
</style>
