<template>
<div>
  <!-- <v-card height="auto"> -->
  <v-card-text class="text-md-center display-2" style="color:#011844;  padding-bottom:40px">

    Welcome to<br>Sistem Informasi Inventaris Alat Medis
    <br>
    <br>
    <img src="@/assets/rsunand.png" width="300px" alt="">
  </v-card-text>
  <!-- </v-card> -->
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
