<template>
    <div>
      <loading :value="loading"></loading>
        <v-container>
         <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Login</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field prepend-icon="person" name="email" label="Email" type="text"
                  v-model="email" @input="alert = false"
                  ></v-text-field>
                  <v-text-field prepend-icon="lock" name="password" label="Password" id="password" type="password"
                  v-model="password" @input="alert = false" @keyup.enter="login"></v-text-field>
                  <!-- <v-combobox prepend-icon="level" v-model="role" :items="cmbRole" label="Pilih Level"></v-combobox> -->
                </v-form>
                <v-alert
                  :value="alert"
                  type="error"
                  transition="scale-transition"
                >
                  Email or password doesn't match
                </v-alert>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="login()">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
        </v-container>
    </div>
</template>

<script>
// import { CLIENT_SECRET } from "@/common/config"
import api from "@/common/api.services";

/*eslint-disable*/
import Loading from "@/components/loading.vue";
import axios from "axios";
export default {
  data() {
    return {
      email: "",
      password: "",
      key: "",
      alert: false,
      loading: false,
      role: "",
      name: ""
      // cmbRole: ["admin", "user", "master-admin"]
    };
  },

  components: {
    Loading: Loading
  },

  created() {
    api
      .getApi("/secretkeys")
      .then(res => {
        this.key = res.data.data.secret;
        console.log(this.key);
      })
      .catch(ex => {});

    // this.getRole();
  },

  methods: {
    getRole() {
      api
        .getById("/user/getrole", this.email)
        .then(rsp => {
          this.role = rsp.data[0].role;
          this.name = rsp.data[0].name;
          console.log(this.role);
        })
        .catch(e => {
          console.log(e);
        });
    },
    login() {
      this.loading = true;
      this.getRole();
      var data = {
        client_id: 2,
        client_secret: this.key,
        grant_type: "password",
        username: this.email,
        password: this.password
      };
      axios
        .post("http://127.0.0.1:8000/oauth/token", data)
        .then(res => {
          this.$auth.setToken(
            res.data.access_token,
            res.data.expires_in + Date.now()
          );
          localStorage.setItem("name", this.name);
          // var v = localStorage.getItem('name');
          if (this.role == "admin") {
            this.$router.push("/admin/");
            localStorage.setItem("role", "user");
          } else if (this.role == "user") {
            this.$router.push("/user/dashboard");
            localStorage.setItem("role", "admin");
          }
          console.log(this.role);
          this.alert = false;
          this.loading = false;
          // console.log(res.data)
          // location.reload(true)
        })
        .catch(exp => {
          this.loading = false;
          this.alert = true;
        });
    }
  }
};
</script>

<style>
</style>
