<template>
    <div >
    <div class="hideItem">
    <loading :value="loading"></loading> 
    <v-layout row wrap >
      <v-flex sm12 xs12 md2>
        <v-btn color="primary" @click="print('section-to-print')">print</v-btn> 
      </v-flex>
    </v-layout>
    </div>
      <div id="section-to-print">
      <v-layout row wrap justify-center>
        <v-card flat height="auto" width="100%" > 
        <table width="100%" border="0" style=" padding:10px" cellspacing="0" cellpadding="7">
          <caption>
              <h2>
                <img style='margin-right:20px' src="@/assets/rsunand.png" height="60px" alt="image">
                Laporan Data Maintenance Alat Medis Rumah Sakit Universitas Andalas 
                <hr >
              </h2> 
          </caption>
          
          <table border="1" width="100%" height="auto" cellspacing="0">

            <tr>
                <td>
                    <table border="0" cellspacing="0" width="100%">
                                   
                         <tr>
                            <td style="align-items: center; justify-content: center; text-align: center; text-decoration: underline;" colspan="6">
                                <b >FORMULIR PERMINTAAN PEMELIHARAAN ALAT MEDIK</b>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%"> kepada </td>
                            <td style="padding:0" width="10px">:</td>
                            <td width="40%" style="text-decoration: underline;"> Ka.IPS Medik</td>
                            <td></td> <td></td> <td></td>
                        </tr>
                        <tr>
                            <td> waktu dilaporkan </td>
                            <td style="padding:0">:</td>
                            <td style="text-decoration: underline;"> {{datas.waktu_request}} </td>
                            <td style="padding-left:25px; " width="5%">CP</td>
                            <td style="padding:0" width="10px">: </td>
                            <td style="text-decoration: underline;"> {{datas.notelp}}</td>
                        </tr>
                        <tr>
                            <td colspan="6">Dengan Ini Disampaikan Bahwa Kami Membutuhkan Pemeliharaan/ Perbaikan di: <u>ruang</u></td>
                        </tr>
                        <tr>
                            <td>Nama Alat</td>
                            <td style="padding:0">:</td>
                            <td style="text-decoration: underline; "> {{datas.nm_alat}} </td>
                            <td style="padding-left:25px; vertical-align: text-top;" width="5%">Merek/Type</td>
                            <td style="padding:0; vertical-align: text-top;" width="10px">: </td>
                            <td style="text-decoration: underline; vertical-align: text-top;"> {{datas.merek}} <b>{{datas.type}}</b></td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:10px">Problem/ Jenis Kerusakan </td>
                            <td style="padding:0; padding-bottom:10px" width="10px">:</td>
                            <td style="text-decoration: underline; padding-bottom:10px"> {{datas.problem}}</td>
                        </tr>
                        <tr>
                            <table>
                                <tr >
                                    <td width="150px" style=" text-align:center"> 
                                        Yang Melapor
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-decoration: underline; text-align:center">
                                        <br><br> {{datas.name}}
                                    </td>
                                </tr>
                             </table>
                        </tr>
                    
                    </table>
                </td>
            </tr>
          </table>
          <br>

          <table border="1" width="100%" height="auto" cellspacing="0">
           
            <tr>
                <td style="align-items: center; justify-content: center; text-align: center; text-decoration: underline;" colspan="6">
                    <b>PROSES KEGIATAN</b>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr height="90px">
                            <td style="vertical-align: text-top;" width="10%">ANALISA</td>
                            <td style="padding:0; vertical-align: text-top;">:</td>
                            <td style="vertical-align: text-top;">{{datas.analisa}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr height="50px">
                            <td style="vertical-align: text-top;" width="10%">Hasil Service</td>
                            <td style="padding:0; vertical-align: text-top;">:</td>
                            <td style="vertical-align: text-top;">
                                {{datas.hasil}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr  style="text-align: right">
                            <td> 
                                <b> MENGETAHUI KA. IPS MEDIK </b>
                            </td>
                        </tr>
                        <tr  style="text-align: right">
                            <td style="text-decoration: underline; text-align:center">
                                <br><br><br> ttd
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
          </table>
        </table>
        <br>
        
        </v-card>
      </v-layout>
      </div>
    </div>
</template>

<script>
import api from "@/common/api.services";

export default {
  data() {
    return {
      datas: [],
      loading: true
    };
  },
  created() {
    api
      .getById("/selectdatamaintenance", this.$route.params.id)
      .then(r => {
        this.datas = r.data[0];
        this.loading = false;
        console.log(r);
      })
      .catch(e => {
        console.log(e);
      });
  },
  methods: {
    print(el) {
      var restorepage = document.body.innerHTML;
      var printcontent = document.getElementById(el).innerHTML;
      document.body.innerHTML = printcontent;
      window.print();
      document.body.innerHTML = restorepage;
    }
  },
  components: {
    Loading: () => import("@/components/loading.vue")
  }
};
</script>

<style lang="css">
hr {
  border: 0;
  margin-top: 20px;
  border-top: 4px double black;
  text-align: center;
}
hr:after {
  content: "\ae";
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #fff;
  color: black;
  font-size: 18px;
}
td {
  padding: 0 10px 5px 0;
}
</style>
