<template>
    <div >
    <div class="hideItem">
    <loading :value="loading"></loading> 
    <v-layout row wrap >
      <v-flex sm12 xs12 md2>
        <v-btn color="primary" @click="print('section-to-print')">print</v-btn> 
      </v-flex>
      <v-flex md3 sm8 xs10>
        <v-menu v-model="toprint" :close-on-content-click="false"
              :nudge-right="40" lazy transition="scale-transition"
              offset-y full-width min-width="290px" >
              <template v-slot:activator="{ on }">
                <v-text-field v-model="select" label="Waktu masuk"
                  prepend-icon="event" readonly v-on="on" >
                </v-text-field>
              </template>
              <v-date-picker v-model="select" type="month" width="290" @input="toprint=false" class="mt-4" >
        </v-date-picker>
        </v-menu>
      </v-flex>
      <v-flex md3 md2 xs2>
        <v-btn flat color="primary" fab small @click="refresh()">
          <v-icon small dark>cached</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    </div>
      <div id="section-to-print">
      <v-layout row wrap justify-center>
        <v-card flat height="auto" width="100%" > 
        <table border="1"  width="100% " cellspacing="0" cellpadding="7">
          <caption>
              <h2>
                <img style='margin-right:20px' src="@/assets/rsunand.png" height="60px" alt="image">
                Laporan Data Maintenance Alat Medis Rumah Sakit Universitas Andalas 
                <hr >
              </h2> 
          </caption>
          <tr>
              <th>Alat</th>
              <th>Serial Number</th>
              <th>Merek</th>
              <th>Type</th>
              <th>Ruangan</th>
              <th>Waktu Request</th>
              <th>Waktu Response</th>
              <!-- <th>User</th> -->
              <th>Problem</th>
              <!-- <th>Analisa</th> -->
              <!-- <th>Hasil</th> -->
          </tr>
          <tr v-for="(item) in filterData" v-bind:key="item.i">
              <td style="padding:0 10px">{{item.nm_alat}}</td>
              <td style="padding:0 10px">{{item.serial_number}}</td>
              <td style="padding:0 10px">{{item.merek}}</td>
              <td style="padding:0 10px">{{item.type}}</td>
              <td style="padding:0 10px">{{item.nm_ruang}}</td>
              <td style="padding:0 10px">{{item.waktu_request}}</td>
              <td style="padding:0 10px">{{item.waktu_response}}</td>
              <!-- <td style="padding:0 10px">{{item.name}}</td> -->
              <td style="padding:0 10px">{{item.problem}}</td>
              <!-- <td style="padding:0 10px">{{item.analisa}}</td> -->
              <!-- <td style="padding:0 10px">{{item.hasil}}</td> -->
          </tr>
        </table>
        </v-card>
      </v-layout>
      </div>
    </div>
</template>

<script>
import api from "@/common/api.services";

export default {
  data() {
    return {
      datas: [],
      toprint: false,
      select: "",
      loading: true
    };
  },
  created() {
    api
      .getApi("/getdatamaintenance")
      .then(r => {
        this.datas = r.data;
        this.loading = false;
        console.log(r);
      })
      .catch(e => {
        console.log(e);
      });
  },
  methods: {
    print(el) {
      var restorepage = document.body.innerHTML;
      var printcontent = document.getElementById(el).innerHTML;
      document.body.innerHTML = printcontent;
      window.print();
      document.body.innerHTML = restorepage;
    },
    refresh() {
      this.select = "";
    }
  },
  computed: {
    filterData() {
      //fungsi untuk memfilter data
      let self = this;
      return self.datas.filter(post => {
        let sameDate = post.waktu_request
          .toLowerCase()
          .includes(self.select.toLowerCase());

        return sameDate;
      });
    }
  },
  components: {
    Loading: () => import("@/components/loading.vue")
  }
};
</script>

<style lang="css">
hr {
  border: 0;
  margin-top: 20px;
  border-top: 4px double black;
  text-align: center;
}
hr:after {
  content: "\ae";
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #fff;
  color: black;
  font-size: 18px;
}
</style>
