<template>
    <div>
      <v-layout row wrap justify-center>
        <table border="1"  width="100% " cellspacing="0" cellpadding="7">
          <caption>
              <h2>
                <img style='margin-right:20px' src="@/assets/rsunand.png" height="60px" alt="image">
                Laporan Jenis Alat Rumah Sakit Universitas Andalas 
                <hr >
              </h2> 
          </caption>
          <tr>
              <th>Alat</th>
              <th>Jumlah</th>
              <th>Layak Pakai</th>
              <th>Kurang Layak</th>
          </tr>
          <tr v-for="(item) in datas" v-bind:key="item.i">
              <td style="padding:0 10px">{{item.nm_alat}}</td>
              <td style="padding:0 10px">{{item.jumlah}}</td>
              <td style="padding:0 10px">{{item.merek}}</td>
              <td style="padding:0 10px">{{item.type}}</td>

          </tr>
        </table>
      </v-layout>
    </div>
</template>

<script>
import api from "@/common/api.services";
export default {
  data() {
    return {
      datas: []
    };
  },
  created() {
    api
      .getApi("/kategorialat")
      .then(r => {
        this.datas = r.data;
        console.log(r);
      })
      .catch(e => {
        console.log(e);
      });
  },
  mounted() {
    // window.print();
  }
};
</script>

<style>
hr {
  border: 0;
  /* margin-top: 10px; */
  border-top: 4px double black;
  text-align: center;
}
hr:after {
  content: "\ae";
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #fff;
  color: black;
  font-size: 18px;
}
</style>
