<template>
    <div >
    <div class="hideItem">
    <loading :value="loading"></loading> 
    <v-layout row wrap >
      <v-flex sm12 xs12 md2>
        <v-btn color="primary" @click="print('section-to-print')">print</v-btn> 
      </v-flex>
      <v-flex md3 sm8 xs10>
        <v-menu v-model="toprint" :close-on-content-click="false"
              :nudge-right="40" lazy transition="scale-transition"
              offset-y full-width min-width="290px" >
              <template v-slot:activator="{ on }">
                <v-text-field v-model="select" label="Waktu masuk"
                  prepend-icon="event" readonly v-on="on" >
                </v-text-field>
              </template>
              <v-date-picker v-model="select" type="month" @input="toprint=false" width="290" class="mt-4" >
        </v-date-picker>
        </v-menu>
      </v-flex>
      <v-flex md3 md2 xs2>
        <v-btn flat color="primary" fab small @click="refresh()">
          <v-icon small dark>cached</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    </div>
      <div id="section-to-print">
      <v-layout row wrap justify-center>
        <v-card flat height="auto" width="100%" > 
        <table border="1"  width="100% " cellspacing="0" cellpadding="7">
          <caption>
              <h2>
                <img style='margin-right:20px' src="@/assets/rsunand.png" height="60px" alt="image">
                Laporan Data Alat Rumah Sakit Universitas Andalas 
                <hr >
              </h2> 
          </caption>
          <tr>
              <th>Alat</th>
              <th>Serial Number</th>
              <th>Merek</th>
              <th>Type</th>
              <th>Tanggal Masuk</th>
              <!-- <th>Terakhir Kalibrasi</th> -->
              <th>Distributor</th>
          </tr>
          <tr v-for="(item) in filterData" v-bind:key="item.i">
              <td style="padding:0 10px">{{item.nm_alat}}</td>
              <td style="padding:0 10px">{{item.serial_number}}</td>
              <td style="padding:0 10px">{{item.merek}}</td>
              <td style="padding:0 10px">{{item.type}}</td>
              <td style="padding:0 10px">{{item.tanggal_masuk}}</td>
              <!-- <td style="padding:0 10px">{{item.jadwal_kalibrasi}}</td> -->
              <td style="padding:0 10px">{{item.nm_distributor}}</td>
          </tr>
        </table>
        </v-card>
      </v-layout>
      </div>
    </div>
</template>

<script>
import api from "@/common/api.services";

/* const formatDateToMonth = date => {
  console.log(date);
  console.log(date);
  console.log(date);
  const newDate = date.split("-");
  return {
    year: newDate[0],
    month: newDate[1]
  };
}; */
export default {
  data() {
    return {
      datas: [],
      toprint: false,
      select: "",
      loading: true
    };
  },
  /* watch: {
    datas(val) {
      console.log(val);
    }
  }, */
  created() {
    api
      .getApi("/getdata")
      .then(r => {
        this.datas = r.data;
        this.loading = false;
        console.log(r);
      })
      .catch(e => {
        console.log(e);
      });
    // .finally(() => {
    // window.print();
    // this.$router.push("/admin/alat");
    // });
  },
  methods: {
    print(el) {
      var restorepage = document.body.innerHTML;
      var printcontent = document.getElementById(el).innerHTML;
      document.body.innerHTML = printcontent;
      window.print();
      document.body.innerHTML = restorepage;
      //   window.print();
    },
    refresh() {
      this.select = "";
    }
    /* selectChange(val) {
      const news = this.datas.filter(item => {
        const { year, month } = formatDateToMonth(item.tanggal_masuk);
        const { year: yearNew, month: monthNew } = formatDateToMonth(val);
        console.log(year);
        console.log(yearNew);
        return year === yearNew && month === monthNew;
      });

      this.datas = news;
    } */
  },
  computed: {
    /* formatDateToMonth(date) {
      console.log(date);
      console.log(date);
      console.log(date);
      const newDate = date.split("-");
      return {
        year: newDate[0],
        month: newDate[1]
      };
    },
    dateFilter() {
      return this.datas.filter(item => {
        const { year, month } = formatDateToMonth(item.tanggal_masuk);
        const { year: yearNew, month: monthNew } = formatDateToMonth(
          this.select
        );

        return year === yearNew && month === monthNew;
      });
    } */
    filterData() {
      //fungsi untuk memfilter data
      let self = this;
      return self.datas.filter(post => {
        let sameDate = post.tanggal_masuk
          .toLowerCase()
          .includes(self.select.toLowerCase());

        return sameDate;
      });
    }
  },
  components: {
    Loading: () => import("@/components/loading.vue")
  }
};
</script>

<style lang="css">
hr {
  border: 0;
  margin-top: 20px;
  border-top: 4px double black;
  text-align: center;
}
hr:after {
  content: "\ae";
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #fff;
  color: black;
  font-size: 18px;
}
/* .title {
  display: none;
} */
@media print {
  /* body * {
    visibility: hidden;
    display: none;
  }
  #section-to-print,
  #section-to-print * {
    .hide-print {
      visibility: hidden;
    }
    visibility: visible;
    box-shadow: none;
    zoom: 96%;
  } */
  /* .itemHide {
    display: none;
  } */
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
  .hide-to-print {
    display: none;
  }
}
</style>
