<template>
  <div>
    <v-form>
      <v-card-text>
        <!-- <v-text-field label="Bidang Medis" v-model="ruang.id_bidang"></v-text-field> -->
        <v-autocomplete @change="bidangg" v-model="id_bidang" :items="cmbBidang"
         label="Pilih Bidang Medis">
        </v-autocomplete>
        <!-- <v-text-field label="Instalasi" v-model="ruang.id_instalasi"></v-text-field> -->
        <v-autocomplete v-model="id_instalasi" :items="cmbInstalasi"
         label="Pilih Bagian Instalasi">
        </v-autocomplete>
      </v-card-text>
    </v-form>
  </div>
</template>
<script>
import api from "@/common/api.services";

export default {
  data() {
    return {
      cmbBidang: [],
      cmbInstalasi: [],
      id_bidang: "",
      id_instalasi: ""
    };
  },
  methods: {
    getBidang() {
      api
        .getApi("/bidang") //untuk mendapatkan combobox dari tabel bidang
        .then(r => {
          r.data.forEach(element => {
            let val = {
              text: element.nm_bidang,
              value: element.id
            };
            this.cmbBidang.push(val);
          });
          console.log(r);
        })
        .catch(e => {
          console.log(e);
        });
    },
    // getInstalasi() {
    //   api
    //     .getApi("/instalasi") //untuk mendapatkan combobox dari tabel instalasi
    //     .then(res => {
    //       res.data.forEach(element => {
    //         let val = {
    //           text: element.nm_instalasi,
    //           value: element.id
    //         };
    //         this.cmbInstalasi.push(val);
    //       });
    //       console.log(r);
    //     })
    //     .catch(ex => {
    //       console.log(ex);
    //     });
    // },
    bidangg() {
      this.id_instalasi = "";
      // set params
      const params = {
        id_bidang: this.id_bidang
      };
      // url /location/regency?province=xxx
      api
        .getApi("/combo/instalasi", { params })
        .then(response => {
          // this.cmbInstalasi = response.data;

          response.data.forEach(element => {
            let val = {
              text: element.nm_instalasi,
              value: element.id
            };
            this.cmbInstalasi.push(val);
          });
          console.log(r);
        })
        .catch(error => console.error(error));
    }
  },
  created() {
    this.getBidang();
    this.getInstalasi();
  }
};
</script>