<template>
<v-layout row justify-center>
  <v-dialog v-model="value" persistent content content-class="centered-dialog" width="150px" >
    <v-container fluid>
      <v-layout column align-content-center justify-center align-center>       
        <looping-rhombuses-spinner
          :animation-duration="1500"
          :rhombus-size="25"
          :color="'#ff1d5e'" 
        />
      </v-layout>
    </v-container>
  </v-dialog>
</v-layout>
</template>

<script>
// import { AtomSpinner } from 'ep#0f0ic-spinners'
// import { PixelSpinner } from "epic-spinners";
import { LoopingRhombusesSpinner } from "epic-spinners";

export default {
  props: ["value"],
  components: {
    LoopingRhombusesSpinner
  }
};
</script>

<style>
</style>
