<template>
<div>
  <loading :value="loading"></loading> 
  <v-btn color="primary" to="/admin/alatkeluar/add">
    <v-icon>add</v-icon>
    Input Data
  </v-btn>
  
  <v-btn  dark to="/admin/print-keluar" color="print">
    <v-icon normal dark>print</v-icon>
  </v-btn>
  <v-layout >
    <v-flex md3 sm8 xs10>
      <v-menu v-model="toprint" :close-on-content-click="false"
            :nudge-right="40" lazy transition="scale-transition"
            offset-y full-width min-width="290px" >
            <template v-slot:activator="{ on }">
              <v-text-field v-model="select" label="Waktu Keluar"
                prepend-icon="event" readonly v-on="on" >
              </v-text-field>
            </template>
            <v-date-picker v-model="select" type="month" width="290" @input="toprint=false" class="mt-4" >
      </v-date-picker>
      </v-menu>
    </v-flex>
      <v-flex md3 md2 xs2>
        <v-btn flat color="primary" fab small @click="refresh()">
          <v-icon small dark>cached</v-icon>
        </v-btn>
      </v-flex>
  </v-layout>


  <br /><br />
  <div>
    <data-table :headers='headers' :title='title' :items='filterData' :search.sync='cari'>
      <template slot="field" slot-scope="props">
        <td class="text-md-left" style="padding:0 5px">{{ props.props.item.sernum }}</td>
        <td class="text-md-left" style="padding:0 5px">{{ props.props.item.nm_alat }}</td>
        <td class="text-md-left" style="padding:0 5px">{{ props.props.item.merek }}</td>
        <td class="text-md-left" style="padding:0 5px">{{ props.props.item.type }}</td>
        <td class="text-md-left" style="padding:0 5px">{{ props.props.item.tgl_masuk }}</td>
        <td class="text-md-left" style="padding:0 5px">{{ props.props.item.tgl_keluar }}</td>
        <td class="text-md-left" style="padding:0 5px">{{ props.props.item.nm_ruang }}</td>
        <td style="padding:0 5px">
          <v-tooltip left>
            <v-btn  dark small outline flat color="success" slot="activator" :to="'/admin/alatkeluar/'+props.props.item.id+'/detail'">
              <v-icon small dark>edit</v-icon>
            </v-btn>
            <span>Edit</span>
          </v-tooltip>
        </td>
      </template>
    </data-table>
  </div>
</div>
</template>

<script>
import api from "@/common/api.services";

export default {
  data() {
    return {
      cari: "",
      loading: true,
      title: "Alat Keluar",
      select: "",
      toprint: false,
      headers: [
        {
          text: "Serial Number",
          value: "sernum"
        },
        {
          text: "Nama Alat",
          align: "left",
          sortable: false,
          value: "nm_alat"
        },
        {
          text: "Merek",
          sortable: false,
          value: "merek"
        },
        {
          text: "Type",
          sortable: false,
          value: "type"
        },
        {
          text: "Tanggal Masuk",
          value: "tgl_masuk"
        },
        {
          text: "Tanggal Keluar",
          value: "tgl_keluar"
        },
        {
          text: "Ruangan",
          sortable: false,
          value: "nm_ruang"
        },
        {
          sortable: false,
          text: "Action",
          value: "action"
        }
      ],
      items: []
    };
  },
  created() {
    this.getAll();
  },

  methods: {
    getAll() {
      api
        .getApi("/getdatakeluar")
        .then(r => {
          this.items = r.data;
          this.loading = false;
          console.log(r);
        })
        .catch(e => {
          console.log(e);
        });
    },
    print(el) {
      var restorepage = document.body.innerHTML;
      var printcontent = document.getElementById(el).innerHTML;
      document.body.innerHTML = printcontent;
      window.print();
      document.body.innerHTML = restorepage;
    },
    refresh() {
      this.select = "";
    }
  },

  computed: {
    filterData() {
      //fungsi untuk memfilter data
      let self = this;
      return self.items.filter(post => {
        let sameDate = post.tgl_keluar
          .toLowerCase()
          .includes(self.select.toLowerCase());

        return sameDate;
      });
    }
  },

  components: {
    DataTable: () => import("@/components/admin/DataTable.vue"),
    Loading: () => import("@/components/loading.vue")
  }
};
</script>

<style>
</style>
