<template>
    <div>
        <v-card-title>
          <span class="headline">Form Alat Keluar</span>
        </v-card-title>
        <v-card height="auto" class="cardgrey">
            <v-container>
            <v-layout row wrap justify-center fill-height>
                    <v-flex sm12 md4>
                        <img :src="'http://127.0.0.1:8000/imageAlat/'+jenis.image" width="260px" alt="image"> 
                    </v-flex>
                    <v-flex sm12 md8>
                        <v-card-text>
                            <table><h3>
                            <tr>
                                <td>Nama Alat </td>
                                <td>:</td>
                                <td>{{jenis.nm_alat}}</td>
                            </tr>
                            <tr>
                                <td>Serial Number </td>
                                <td>:</td>
                                <td>{{alat.serial_number}}</td>
                            </tr>
                            <tr>
                                <td>Merek</td>
                                <td>:</td>
                                <td>{{alat.merek}}</td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td>:</td>
                                <td>{{alat.type}}</td>
                            </tr>
                            <tr>
                                <td>Ruangan</td>
                                <td>:</td>
                                <td>{{ruang.nm_ruang}}</td>
                            </tr></h3>
                            </table>
                        </v-card-text>
                        <v-menu v-model="tgl_keluar" :close-on-content-click="false" :nudge-right="40" 
                        lazy transition="scale-transition" offset-y full-width min-width="290px" >
                        <template v-slot:activator="{ on }">
                            <v-text-field outline light v-model="tanggal_keluar" label="Tanggal Keluar"
                            append-icon="event" readonly v-on="on" > </v-text-field>
                        </template>
                        <v-date-picker v-model="tanggal_keluar" @input="tgl_keluar = false"></v-date-picker>
                        </v-menu>                        
                        <v-textarea v-model="ket" append-icon="edit" outline light name="input-7-4" label="Keterangan" ></v-textarea>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" @click="saveData()">Save</v-btn>
                            <v-btn color="warning" to="/admin/alatkeluar/add">Cancel</v-btn>
                        </v-card-actions>
                    </v-flex>
            </v-layout>
            </v-container>
        </v-card>
    </div>
</template>
<script>
import api from "@/common/api.services";
export default {
  data() {
    return {
      alat: [],
      tgl_keluar: false,
      tanggal_keluar: "",
      ket: "",
      jenis: [],
      ruang: []
    };
  },
  created() {
    this.getAlat();
  },
  //   beforeMount() {
  //     this.getJenis();
  //   },
  methods: {
    getAlat() {
      api
        .getById("/alat", this.$route.params.id)
        .then(r => {
          console.log(r.data);
          this.alat = r.data[0];
          api
            .getById("/kategorialat", r.data[0].id_alat)
            .then(res => {
              this.jenis = res.data[0];
            })
            .catch(e => {
              console.log(e);
            });
          api
            .getById("/ruang", r.data[0].id_ruang)
            .then(res => {
              this.ruang = res.data[0];
            })
            .catch(e => {
              console.log(e);
            });
        })
        .catch(e => {
          console.log(e);
        });
    },
    getJenis() {
      api
        .getById("/kategorialat", this.id_alat)
        .then(r => {
          console.log(r.data);
          this.jenis = r.data;
        })
        .catch(e => {
          console.log(e);
        });
    },
    saveData() {
      api
        .postApi("/alatkeluar", {
          id_alat: this.jenis.nm_alat,
          sernum: this.alat.serial_number,
          merek: this.alat.merek,
          type: this.alat.type,
          tgl_masuk: this.alat.tanggal_masuk,
          tgl_keluar: this.tanggal_keluar,
          id_ruang: this.ruang.nm_ruang,
          ket: this.ket
        })
        .then(r => {
          this.confirmDel();
          this.updateJum();
          this.$router.push("/admin/alatkeluar");
        })
        .catch(e => {
          console.log(e);
        });
    },
    confirmDel() {
      api
        .deleteApi("/alat", this.alat.id)
        .then(console.log("delete succes!"))
        .catch(e => console.log("error " + e));
    },
    updateJum() {
      api
        .postApi("/keluar/" + this.alat.id_alat)
        .then(r => {
          console.log("update succes");
        })
        .catch(e => {
          console.log("error" + e);
        });
    }
  }
};
</script>
<style>
</style>
