<template>
<div>
  <!-- <v-card> -->
    <v-card-title>
      <span class="headline">Cari Alat Keluar</span>
    </v-card-title>
    <v-layout row wrap mx-3>
      <v-flex md10 sm10>
        <v-text-field append-icon="search" placeholder="Nama ALat/ Serial Number/ Type/ Alat /Ruang" name="cari" v-model="cari" outline></v-text-field>  
      </v-flex>
      <v-flex md2 sm2>
        <v-tooltip bottom>
          <v-btn dark class="white--text" color="other" slot="activator" to="/admin/alatkeluar">
            <v-icon dark>reply</v-icon>
          </v-btn>
          <span>Kembali</span>
        </v-tooltip>
      </v-flex>
    </v-layout>
    <div>
      <v-container fluid grid-list-md>
        <v-layout row wrap>
          <v-flex xs12 sm12 md12 v-for="item in filterData" :key="item.id">
            <v-card color="#f7f6e7">  
              <v-card-title primary class="title"> <u> {{item.nm_alat}}</u> </v-card-title>
              <v-layout row>
                <v-flex xs12 sm3 md3>
                  <v-card-text>
                    <!-- <v-avatar size="70px" color="grey lighten-4"> -->
                        <img :src="'http://127.0.0.1:8000/imageAlat/'+item.image" width="200px" alt="image">                    
                    <!-- </v-avatar> -->
                  </v-card-text>
                </v-flex>
                <v-flex xs12 sm6 md7>
                  <v-card-text>
                    <table><h3>
                      <tr>
                        <td>Serial Number </td>
                        <td>:</td>
                        <td>{{item.serial_number}}</td>
                      </tr>
                      <tr>
                        <td> Merek</td>
                        <td>:</td>
                        <td>{{item.merek}}</td>
                      </tr>
                      <tr>
                        <td> Type</td>
                        <td>:</td>
                        <td>{{item.type}}</td>
                      </tr>
                      <tr>
                        <td> Ruangan</td>
                        <td>:</td>
                        <td>{{item.nm_ruang}}</td>
                      </tr></h3>
                    </table>
                  </v-card-text>
                </v-flex>
                <v-flex md2 xs12 sm3>
                  <v-card-actions>
                    <v-layout wrap align-center justify-center>
                      <v-flex md12 xs12 sm12>
                        <v-tooltip left>
                          <v-btn fab dark class="white--text" color="warning" slot="activator" :to="'/admin/alatkeluar/detail/'+item.id">
                            <v-icon dark>delete</v-icon>
                          </v-btn>
                          <span>Keluarkan Alat ini?</span>
                        </v-tooltip>
                      </v-flex>
                    </v-layout>
                  </v-card-actions>
                </v-flex>
              </v-layout>
            </v-card>
          <br>
          </v-flex>
        </v-layout>
      </v-container>
  </div>
  <!-- </v-card> -->
</div>
</template>

<script>
import api from "@/common/api.services";
export default {
  data() {
    return {
      datas: [],
      cari: ""
    };
  },
  created() {
    this.getAll();
  },
  methods: {
    getAll() {
      api
        .getApi("/getdata")
        .then(r => {
          this.datas = r.data;
          console.log(r);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  computed: {
    filterData() {
      //fungsi untuk memfilter data
      let self = this;
      return self.datas.filter(post => {
        let sameAlat = post.serial_number
          .toLowerCase()
          .includes(self.cari.toLowerCase());

        return sameAlat;
      });
    }
  }
};
</script>

<style >
</style>
