<template>
    <div>
        <v-container>
        <v-layout row wrap>
          <v-flex md7 sm7>
            <v-card-title class="body-2 font-weight-black" primary-title>
              <h2>
                        Data Alat Medis Rumah Sakit Universitas Andalas
              </h2>
            </v-card-title>
          </v-flex>
          <v-flex md5 sm5>
              <!-- <v-card-text> -->
            <v-text-field placeholder="serial number, merek, type" name="cari" v-model="cari" outline></v-text-field>
            <!-- </v-card-text> -->
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <!-- <v-card color="primary" height="110px" width="100%"></v-card> -->
        <v-flex xs12 sm12 md12 v-for="item in datas" :key="item.id">
          <v-card color="#f7f6e7">
            <v-card-title primary class="title"><u> {{kat[0].nm_alat}}</u></v-card-title>
            <v-layout row>
              <v-flex xs4 sm4 md3>
                <v-card-text>
                  <!-- <v-avatar size="70px" color="grey lighten-4"> -->
                  <img width="200px" :src="'http://127.0.0.1:8000/imageAlat/'+kat[1].image" alt="gambar alat medis">
                  <!-- <v-img src="http://via.placeholder.com/230x170" alt="image"></v-img> -->
                  
                  <!-- </v-avatar> -->
                </v-card-text>
              </v-flex>
              <v-flex xs7 sm5 md7>
                <v-card-text primary-title>
                  <table>
                    <h3>
                    <tr>
                      <td>Serial Number</td>
                      <td>: </td>
                      <td> {{item.serial_number}}</td>
                    </tr>
                    <tr>
                      <td>Merek</td>
                      <td>:</td>
                      <td>{{item.merek}} </td>
                    </tr>
                    <tr>
                      <td>Type</td>
                      <td>:</td>
                      <td> {{item.type}} </td>
                      <!-- <td>{{item.jumlah}}</td> -->
                      <!-- <td>{{item.lenght}}</td> -->
                    </tr>
                    </h3>
                  </table>
                </v-card-text>
              </v-flex>
              <v-flex md2 xs2 sm2>
                <v-card-text class="text-xs-center">
                  <v-tooltip bottom>
                      <v-btn fab color="warning" slot="activator" flat dark  large outline class="white--text" :to="'/user/maintenance/'+item.id">
                        <v-icon center dark>report_problem</v-icon>
                      </v-btn>
                    <span>Request Maintenance Alat Ini</span>
                  </v-tooltip>
                </v-card-text>
              </v-flex>
            </v-layout>
          </v-card>
          <br>
        </v-flex>
      </v-layout>  
        </v-container>
    </div>    
</template>
<script>
import api from "@/common/api.services";
export default {
  data() {
    return {
      datas: [],
      kat: [],
      cari: ""
    };
  },
  created() {
    api
      .getApi("/alat")
      .then(r => {
        this.datas = r.data;
        // this.loading = false;
        console.log(r);
      })
      .catch(e => {
        console.log(e);
      });
    this.getKategori();
  },
  methods: {
    getKategori() {
      api
        .getApi("/kategorialat")
        .then(r => {
          this.kat = r.data;
          this.loading = false;
          console.log(r);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  computed: {
    filterData() {
      //fungsi untuk memfilter data
      let self = this;
      return self.datas.filter(post => {
        let sameAlat = post.serial_number
          .toLowerCase()
          .includes(self.cari.toLowerCase());
        let sameMerek = post.merek
          .toLowerCase()
          .includes(self.cari.toLowerCase());
        return sameAlat, sameMerek;
      });
    }
  }
};
</script>
<style>
</style>
