<template>
    <div>
        <v-card-title>
          <span class="headline">Request Maintenance Alat </span>
        </v-card-title>
        <v-card height="auto" class="cardgrey">
            <v-container>
            <v-layout row wrap >
                    <v-flex sm12 md4>
                        <img width="300px" :src="'http://127.0.0.1:8000/imageAlat/'+jenis.image" alt="gambar alat medis">
                    </v-flex>
                    <v-flex sm12 md8>
                        <v-card-text> 
                        <table><h3>
                            <tr>
                                <td>Nama Alat </td>
                                <td>:</td>
                                <td>{{jenis.nm_alat}}</td>
                            </tr>
                            <tr>
                                <td>Serial Number </td>
                                <td>:</td>
                                <td>{{alat.serial_number}}</td>
                            </tr>
                            <tr>
                                <td>Merek</td>
                                <td>:</td>
                                <td>{{alat.merek}}</td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td>:</td>
                                <td>{{alat.type}}</td>
                            </tr>
                            <tr>
                                <td>Ruangan</td>
                                <td>:</td>
                                <td>{{ruang.nm_ruang}}</td>
                            </tr></h3>
                            </table>
                        </v-card-text>                      
                        <v-textarea v-model="problem" append-icon="edit" outline light name="input-7-4" label="Problem Alat" ></v-textarea>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" @click="saveData()">Save</v-btn>
                            <v-btn color="warning" to="/admin/alatkeluar/add">Cancel</v-btn>
                        </v-card-actions>
                    </v-flex>
            </v-layout>
            </v-container>
        </v-card>
    </div>
</template>
<script>
import api from "@/common/api.services";
export default {
  data() {
    return {
      alat: [],
      waktu_response: "",
      waktu_request: "",
      problem: "",
      jenis: [],
      ruang: []
    };
  },
  created() {
    this.getAlat();
  },
  methods: {
    getAlat() {
      api
        .getById("/alat", this.$route.params.id)
        .then(r => {
          console.log(r.data);
          this.alat = r.data[0];
          api
            .getById("/kategorialat", r.data[0].id_alat)
            .then(res => {
              this.jenis = res.data[0];
            })
            .catch(e => {
              console.log(e);
            });
          api
            .getById("/ruang", r.data[0].id_ruang)
            .then(res => {
              this.ruang = res.data[0];
            })
            .catch(e => {
              console.log(e);
            });
        })
        .catch(e => {
          console.log(e);
        });
    },
    getJenis() {
      api
        .getById("/kategorialat", this.id_alat)
        .then(r => {
          console.log(r.data);
          this.jenis = r.data;
        })
        .catch(e => {
          console.log(e);
        });
    },
    saveData() {
      api
        .postApi("/maintenance", {
          id_alat: this.alat.id_alat,
          id_kategori: this.jenis.id,
          id_ruang: this.alat.id_ruang,
          id_user: 16,
          serial_number: this.alat.serial_number,
          merek: this.alat.merek,
          type: this.alat.type,
          waktu_response: this.alat.updated_at,
          problem: this.problem,
          analisa: "-",
          hasil: "-",
          icon: "priority_high",
          color_icon: "warning"
        })
        .then(r => {
          this.$router.push("/user/dashboard");
        })
        .catch(e => {
          console.log(e);
        });
    }
  }
};
</script>
<style>
</style>
