<template>
<div>
  <form-data :title="'Add New Alat'" :alatMasuk="alatMasuk" :action="saveData"></form-data>
</div>
</template>

<script>
export default {
  data() {
    return {
      'alatMasuk': {
        nama_alat: '',
        merek: '',
        type: '',
        sernum: '',
        deskripsi: '',
        lokasi_alat: '',
        tahun_masuk: '',
        tgl_kalibrasi: '',
        image: ''
      }
    }
  },
  components: {
    FormData: () => import('@/components/admin/formAlatMasuk.vue')
  },
  methods: {
    saveData() {

    }
  }

}
</script>

<style>

</style>
