<template>
<v-app style='background-color:#c3e4c0' id="inspire">
  <router-view />
</v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      //
    };
  }
};
</script>
