<template>
<div>
  <form-data :title="'Edit data'" :admin="admin" :action="saveData"></form-data>
</div>
</template>

<script>
import Swal from "sweetalert2";
import api from "@/common/api.services";
export default {
  data() {
    return {
      loading: false,
      admin: {
        name: "",
        email: "",
        notelp: "",
        password: "",
        role: ""
      }
    };
  },

  created() {
    api
      .getById("/user", this.$route.params.id)
      .then(r => {
        console.log(r.data);
        this.admin.name = r.data[0].name;
        this.admin.email = r.data[0].email;
        this.admin.password = r.data[0].password;
        this.admin.notelp = r.data[0].notelp;
        this.admin.role = r.data[0].role;
        console.log(r);
      })
      .catch(e => {
        console.log(e);
      });
  },
  methods: {
    saveData() {
      this.loading = true;
      api
        .updateApi("/user/" + this.$route.params.id, {
          name: this.admin.name,
          email: this.admin.email,
          notelp: this.admin.notelp,
          role: this.admin.role,
          passsword: this.admin.passsword
        })
        .then(r => {
          console.log(r.statusText);
          Swal.fire("Data", "Berhasil Diupdate", "success");
          this.$router.push("/admin/master-admin");
        })
        .catch(error => {
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(error);
        });
    }
  },
  components: {
    loading: () => import("@/components/loading.vue"),
    FormData: () => import("@/components/admin/formMaster.vue")
  }
};
</script>

<style>
</style>
