<template>
<div>
  <form-data :title="'Edit data Instalasi'" :instalasi="instalasi" :action="saveData"></form-data>
</div>
</template>

<script>
import Swal from "sweetalert2";
import api from "@/common/api.services";
export default {
  data() {
    return {
      loading: false,
      instalasi: {
        nm_instalasi: "",
        id_bidang: "",
        ket: ""
      }
    };
  },

  created() {
    api
      .getById("/instalasi", this.$route.params.id)
      .then(r => {
        console.log(r.data);
        this.instalasi.nm_instalasi = r.data[0].nm_instalasi;
        this.instalasi.id_bidang = r.data[0].id_bidang;
        this.instalasi.ket = r.data[0].ket;
        console.log(r);
      })
      .catch(e => {
        console.log(e);
      });
  },
  methods: {
    saveData() {
      this.loading = true;
      api
        .updateApi("/instalasi/" + this.$route.params.id, {
          nm_instalasi: this.instalasi.nm_instalasi,
          id_bidang: this.instalasi.id_bidang,
          ket: this.instalasi.ket
        })
        .then(r => {
          console.log(r.statusText);
          Swal.fire("Data", "Berhasil Diupdate", "success");
          this.$router.push("/admin/instalasi");
        })
        .catch(error => {
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(error);
        });
    }
  },
  components: {
    loading: () => import("@/components/loading.vue"),
    FormData: () => import("@/components/admin/formInstalasi.vue")
  }
};
</script>

<style>
</style>
