<template>
<div>
<loading :value="loading"></loading>
  <form-data :title="'input bidang instalasi'" :instalasi="instalasi" :action="saveData"></form-data>
</div>
</template>

<script>
import api from "@/common/api.services";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      loading: false,
      instalasi: {
        nm_instalasi: "",
        id_bidang: "",
        ket: ""
      }
    };
  },

  components: {
    FormData: () => import("@/components/admin/formInstalasi.vue"),
    loading: () => import("@/components/loading.vue")
  },
  methods: {
    saveData() {
      //untuk menyimpan data
      this.loading = true;
      api
        .postApi("/instalasi", {
          nm_instalasi: this.instalasi.nm_instalasi,
          id_bidang: this.instalasi.id_bidang,
          ket: this.instalasi.ket
        })
        .then(r => {
          console.log(r.statusText);
          this.loading = false;
          Swal.fire("Data", "Berhasil Diinput", "success");
          this.$router.push("/admin/instalasi");
        })
        .catch(e => {
          this.loading = false;
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(e);
        });
    }
  }
};
</script>

<style>
</style>
