<template>
<div>
<loading :value="loading"></loading>
  <v-btn color="primary" to="/admin/instalasi/add">
    Add 
    <v-icon>save_alt </v-icon>
  </v-btn>
  <br /><br />
  <div>
    <data-table :headers='headers' :title='title' :items='datas' :search.sync='cari'>
      <template slot="field" slot-scope="props">
        <td class="text-md-left">{{ props.props.item.nm_instalasi }}</td>
        <td class="text-md-left">{{ props.props.item.nm_bidang }}</td>
        <td class="text-md-left">{{ props.props.item.ket }}</td>
        <td>
          <v-tooltip left>
            <v-btn fab dark small color="success" slot="activator" :to="'/admin/instalasi/'+props.props.item.id+'/edit'">
              <v-icon small dark>edit</v-icon>
            </v-btn>
            <span>Edit</span>
          </v-tooltip>
          <v-tooltip right>
            <v-btn fab dark small color="error" slot="activator" @click="confirmDel(props.props.item)">
              <v-icon small dark>delete</v-icon>
            </v-btn>
            <span>Delete</span>
          </v-tooltip>
        </td>
      </template>
    </data-table>
  </div>
</div>
</template>

<script>
import api from "@/common/api.services";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      loading: true,
      cari: "",
      title: "Data Instalasi",
      datas: [],
      headers: [
        {
          text: "Nama Instalasi",
          value: "nm_instalasi",
          sortable: false
        },
        {
          text: "Bidang",
          value: "nm_bidang",
          sortable: false
        },
        {
          text: "Keterangan",
          value: "ket",
          sortable: false
        },
        {
          sortable: false,
          text: "Action",
          value: "action"
        }
      ]
    };
  },
  created() {
    this.getAll();
  },
  methods: {
    getAll() {
      api
        .getApi("/getdatainstalasi")
        .then(r => {
          this.datas = r.data;
          this.loading = false;
          console.log(r);
        })
        .catch(e => {
          console.log(e);
        });
    },
    confirmDel(val) {
      Swal.fire({
        //alert konfrmasi
        title: "Kamu yakin ingin menghapus data ini?",
        text: "Data tidak dapat dipulihkan kembali!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, Saya Yakin!",
        cancelButtonText: "Batal"
      }).then(result => {
        //jika konfirmasi true
        if (result.value) {
          api
            .deleteApi("/instalasi", val.id)
            .then(console.log("delete succes!"), this.getAll())
            .catch(e => console.log("error " + e));
          Swal.fire("Deleted!", "Data berhasil dihapus.", "success");
        }
      });
    }
  },
  components: {
    DataTable: () => import("@/components/admin/DataTable.vue"),
    Loading: () => import("@/components/loading.vue")
  }
};
</script>

<style>
</style>
