<template>
<div>
  <form-data :title="'Edit data distributor'" :distributor="distributor" :action="saveData"></form-data>
</div>
</template>

<script>
import Swal from "sweetalert2";
import api from "@/common/api.services";
export default {
  data() {
    return {
      loading: false,
      distributor: {
        nm_distributor: "",
        no_telp: ""
      }
    };
  },

  created() {
    api
      .getById("/distributor", this.$route.params.id)
      .then(r => {
        console.log(r.data);
        this.distributor.nm_distributor = r.data[0].nm_distributor;
        this.distributor.no_telp = r.data[0].no_telp;
        console.log(r);
      })
      .catch(e => {
        console.log(e);
      });
  },
  methods: {
    saveData() {
      this.loading = true;
      api
        .updateApi("/distributor/" + this.$route.params.id, {
          nm_distributor: this.distributor.nm_distributor,
          no_telp: this.distributor.no_telp
        })
        .then(r => {
          console.log(r.statusText);
          Swal.fire("Data", "Berhasil Diupdate", "success");
          this.$router.push("/admin/distributor");
        })
        .catch(error => {
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(error);
        });
    }
  },
  components: {
    loading: () => import("@/components/loading.vue"),
    FormData: () => import("@/components/admin/formDistributor.vue")
  }
};
</script>

<style>
</style>
