<template>
<div>
<loading :value="loading"></loading>
  <form-data :title="'input bidang distributor'" :distributor="distributor" :action="saveData"></form-data>
</div>
</template>

<script>
import api from "@/common/api.services";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      loading: false,
      distributor: {
        nm_distributor: "",
        no_telp: ""
      }
    };
  },

  components: {
    FormData: () => import("@/components/admin/formDistributor.vue"),
    loading: () => import("@/components/loading.vue")
  },
  methods: {
    saveData() {
      //untuk menyimpan data
      this.loading = true;
      api
        .postApi("/distributor", {
          nm_distributor: this.distributor.nm_distributor,
          no_telp: this.distributor.no_telp
        })
        .then(r => {
          console.log(r.statusText);
          this.loading = false;
          Swal.fire("Data", "Berhasil Diinput", "success");
          this.$router.push("/admin/distributor");
        })
        .catch(e => {
          this.loading = false;
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(e);
        });
    }
  }
};
</script>

<style>
</style>
