<template>
<div>
<loading :value="loading"></loading>
  <v-btn color="primary" href="/admin/alat/add">
    Add 
    <v-icon>save_alt </v-icon>
  </v-btn>
  <!-- <router-link to="/admin/print-alat"> -->
    <v-btn  dark to="/admin/print-alat" color="warning">
      <v-icon normal dark>print</v-icon>
    </v-btn>
  <!-- </router-link> -->
  <v-layout >
    <v-flex md3 sm8 xs10>
      <v-menu v-model="toprint" :close-on-content-click="false"
            :nudge-right="40" lazy transition="scale-transition"
            offset-y full-width min-width="290px" >
            <template v-slot:activator="{ on }">
              <v-text-field v-model="select" label="Waktu masuk"
                prepend-icon="event" readonly v-on="on" >
              </v-text-field>
            </template>
            <v-date-picker v-model="select" type="month" width="290" class="mt-4" >
      </v-date-picker>
      </v-menu>
    </v-flex>
      <v-flex md3 md2 xs2>
        <v-btn flat color="primary" fab small @click="refresh()">
          <v-icon large dark>cached</v-icon>
        </v-btn>
      </v-flex>
  </v-layout>
  <div>
    <data-table :headers='headers' :title='title' :items='filterData' :search.sync='cari'>
      <template slot="field" slot-scope="props">
        <td class="text-md-left">{{ props.props.item.nm_bidang }}</td>
        <td class="text-md-left">{{ props.props.item.nm_instalasi }}</td>
        <td class="text-md-left">{{ props.props.item.nm_ruang }}</td>
        <td class="text-md-left">{{ props.props.item.nm_alat }}</td>
        <td class="text-md-left">{{ props.props.item.serial_number }}</td>
        <td class="text-md-left">{{ props.props.item.merek }}</td>
        <td class="text-md-left">{{ props.props.item.type }}</td>
        <td class="text-md-left">{{ props.props.item.tanggal_masuk }}</td>
        <td class="text-md-left">{{ props.props.item.jadwal_kalibrasi }}</td>
        <td class="text-md-left">{{ props.props.item.nm_distributor }}</td>
        <td>
          <v-tooltip left>
            <v-btn fab dark small color="success" slot="activator" :to="'/admin/alat/'+props.props.item.id+'/edit'">
              <v-icon small dark>edit</v-icon>
            </v-btn>
            <span>Edit</span>
          </v-tooltip>
          <v-tooltip right>
            <v-btn fab dark small color="error" slot="activator" @click="confirmDel(props.props.item)">
              <v-icon small dark>delete</v-icon>
            </v-btn>
            <span>Delete</span>
          </v-tooltip>
          
        </td>
      </template>
    </data-table>
  </div>
</div>
</template>

<script>
import api from "@/common/api.services";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      loading: true,
      toprint: false,
      select: "",
      cari: "",
      title: "Data Alat",
      datas: [],
      headers: [
        {
          text: "Bidang",
          value: "nm_bidang",
          sortable: false
        },
        {
          text: "Instalasi",
          value: "nm_instalasi",
          sortable: false
        },
        {
          text: "ruang",
          value: "nm_ruang",
          sortable: false
        },
        {
          text: "Alat",
          value: "nm_alat",
          sortable: false
        },
        {
          text: "Serial Number",
          align: "left",
          sortable: false,
          value: "serial_number"
        },
        {
          text: "Merek",
          sortable: false,
          value: "merek"
        },
        {
          text: "Type",
          sortable: false,
          value: "type"
        },
        {
          text: "Tanggal Masuk",
          sortable: true,
          value: "tanggal_masuk"
        },
        {
          text: "jadwal kalibrasi",
          sortable: true,
          value: "jadwal_kalibrasi"
        },
        {
          text: "Distributor",
          value: "nm_distributor",
          sortable: "false"
        },
        {
          sortable: false,
          text: "Action",
          value: "action"
        }
      ]
    };
  },
  created() {
    this.getAll();
  },
  methods: {
    getAll() {
      api
        .getApi("/getdata")
        .then(r => {
          this.datas = r.data;
          this.loading = false;
          console.log(r);
        })
        .catch(e => {
          console.log(e);
        });
    },
    confirmDel(val) {
      Swal.fire({
        //alert konfrmasi
        title: "Kamu yakin ingin menghapus data ini?",
        text: "Data tidak dapat dipulihkan kembali!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, Saya Yakin!",
        cancelButtonText: "Batal"
      }).then(result => {
        //jika konfirmasi true
        if (result.value) {
          api
            .deleteApi("/alat", val.id)
            .then(console.log("delete succes!"), this.getAll())
            .catch(e => console.log("error " + e));
          Swal.fire("Deleted!", "Data berhasil dihapus.", "success");
        }
      });
    },
    refresh() {
      this.select = "";
    }
  },
  components: {
    DataTable: () => import("@/components/admin/DataTable.vue"),
    Loading: () => import("@/components/loading.vue")
  },
  computed: {
    filterData() {
      //fungsi untuk memfilter data
      let self = this;
      return self.datas.filter(post => {
        let sameDate = post.tanggal_masuk
          .toLowerCase()
          .includes(self.select.toLowerCase());

        return sameDate;
      });
    }
  }
};
</script>

<style>
</style>
