<template>
<div>
  <v-btn color="primary" :to="'/admin/alatbykat/'+$route.params.idkat+'/add'">
    <v-icon>add</v-icon>
    Input Alat
  </v-btn>
  <v-btn color="warning" to="/admin/kategorialat">
    <v-icon>reply</v-icon>
  </v-btn>
  <br /><br />
  <div>
    <data-table :headers='headers' :title='title' :items='datas' :search.sync='cari'>
      <template slot="field" slot-scope="props">
        <td class="text-md-left">{{ props.props.item.nm_bidang }}</td>
        <td class="text-md-left">{{ props.props.item.nm_instalasi }}</td>
        <td class="text-md-left">{{ props.props.item.nm_ruang }}</td>
        <td class="text-md-left">{{ props.props.item.serial_number }}</td>
        <td class="text-md-left">{{ props.props.item.merek }}</td>
        <td class="text-md-left">{{ props.props.item.type }}</td>
        <td class="text-md-left">{{ props.props.item.tanggal_masuk }}</td>
        <td class="text-md-left">{{ props.props.item.jadwal_kalibrasi }}</td>
        <td class="text-md-left">{{ props.props.item.nm_distributor }}</td>
        <td>
          <v-tooltip left>
            <v-btn fab dark small color="success" slot="activator" :to="'/admin/alatByKat/'+$route.params.idkat+'/edit/'+props.props.item.id">
              <v-icon small dark>edit</v-icon>
            </v-btn>
            <span>Edit</span>
          </v-tooltip>
          <v-tooltip right>
            <v-btn fab dark small color="error" slot="activator" @click="confirmDel(props.props.item)">
              <v-icon small dark>delete</v-icon>
            </v-btn>
            <span>Delete</span>
          </v-tooltip>
        </td>
      </template>
    </data-table>

  </div>
</div>
</template>

<script>
import api from "@/common/api.services";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      cari: "",
      title: "Data Alat ",
      datas: [],
      headers: [
        {
          text: "Bidang",
          value: "nm_bidang",
          sortable: false
        },
        {
          text: "Instalasi",
          value: "nm_instalasi",
          sortable: false
        },
        {
          text: "ruang",
          value: "nm_ruang",
          sortable: false
        },
        {
          text: "Serial Number",
          align: "left",
          sortable: false,
          value: "serial_number"
        },
        {
          text: "Merek",
          sortable: false,
          value: "merek"
        },
        {
          text: "Type",
          sortable: false,
          value: "type"
        },
        {
          text: "Tanggal Masuk",
          sortable: true,
          value: "tanggal_masuk"
        },
        {
          text: "jadwal kalibrasi",
          sortable: true,
          value: "jadwal_kalibrasi"
        },
        {
          text: "Distributor",
          value: "nm_distributor",
          sortable: "false"
        },
        {
          sortable: false,
          text: "Action",
          value: "action"
        }
      ]
    };
  },
  created() {
    this.getAll();
    this.getAlat();
  },
  methods: {
    getAll() {
      api
        .getById("/getbyidkat", this.$route.params.idkat)
        .then(response => {
          this.datas = response.data;

          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    getAlat() {
      api
        .getById("/kategorialat", this.$route.params.idkat)
        .then(rsp => {
          console.log(rsp.data);
          this.title = "Data ALat " + rsp.data[0].nm_alat;
        })
        .catch(ex => {
          console.log(ex);
        });
    },
    confirmDel(val) {
      Swal.fire({
        //alert konfrmasi
        title: "Kamu yakin ingin menghapus data ini?",
        text: "Data tidak dapat dipulihkan kembali!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, Saya Yakin!",
        cancelButtonText: "Batal"
      }).then(result => {
        //jika konfirmasi true
        if (result.value) {
          api
            .deleteApi("/alat", val.id)
            .then(console.log("delete succes!"), this.getAll())
            .catch(e => console.log("error " + e));
          Swal.fire("Deleted!", "Data berhasil dihapus.", "success");
        }
      });
    }
  },
  components: {
    DataTable: () => import("@/components/admin/DataTable.vue")
  }
};
</script>

<style>
</style>
