<template>
<div>
  <form-data :title="'Edit data alat'" :alat="alat" :action="saveData"></form-data>
</div>
</template>

<script>
import Swal from "sweetalert2";
import api from "@/common/api.services";
export default {
  data() {
    return {
      loading: false,
      alat: {
        id_ruang: "",
        id_alat: "",
        serial_number: "",
        merek: "",
        type: "",
        tanggal_masuk: "",
        jadwal_kalibrasi: "",
        id_distributor: ""
      }
    };
  },

  created() {
    this.getData();
  },
  methods: {
    getData() {
      api
        .getById("/alat", this.$route.params.id)
        .then(r => {
          console.log(r.data);
          this.alat.id_ruang = r.data[0].id_ruang;
          this.alat.id_alat = r.data[0].id_alat;
          this.alat.serial_number = r.data[0].serial_number;
          this.alat.merek = r.data[0].merek;
          this.alat.type = r.data[0].type;
          this.alat.tanggal_masuk = r.data[0].tanggal_masuk;
          this.alat.jadwal_kalibrasi = r.data[0].jadwal_kalibrasi;
          this.alat.id_distributor = r.data[0].id_distributor;
          console.log(r);
        })
        .catch(e => {
          console.log(e);
        });
    },
    saveData() {
      this.loading = true;
      api
        .updateApi("/alat/" + this.$route.params.id, {
          id_ruang: this.alat.id_ruang,
          id_alat: this.alat.id_alat,
          serial_number: this.alat.serial_number,
          merek: this.alat.merek,
          type: this.alat.type,
          tanggal_masuk: this.alat.tanggal_masuk,
          jadwal_kalibrasi: this.alat.jadwal_kalibrasi,
          id_distributor: this.alat.id_distributor
        })
        .then(res => {
          console.log(res.statusText);
          Swal.fire("Data", "Berhasil Diupdate", "success");
          this.$router.push("/admin/alatByKat/" + this.$route.params.idkat);
        })
        .catch(error => {
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(error);
        });
    }
  },
  components: {
    loading: () => import("@/components/loading.vue"),
    FormData: () => import("@/components/admin/formAlatByKat.vue")
  }
};
</script>

<style>
</style>
