<template>
<div>
<loading :value="loading"></loading>
  <form-data :title="'input alat medis'" :alat="alat" :action="saveData"></form-data>
</div>
</template>

<script>
import api from "@/common/api.services";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      // kategori: [],
      // cmbKategori:[],
      loading: false,
      alat: {
        id_ruang: "",
        id_alat: "",
        serial_number: "",
        merek: "",
        type: "",
        tanggal_masuk: "",
        jadwal_kalibrasi: "",
        id_distributor: ""
      }
    };
  },

  components: {
    FormData: () => import("@/components/admin/formAlat.vue"),
    loading: () => import("@/components/loading.vue")
  },
  methods: {
    saveData() {
      //untuk menyimpan data
      this.loading = true;
      console.log(this.alat);
      api
        .postApi("/alat", {
          id_ruang: this.alat.id_ruang,
          id_alat: this.alat.id_alat,
          serial_number: this.alat.serial_number,
          merek: this.alat.merek,
          type: this.alat.type,
          tanggal_masuk: this.alat.tanggal_masuk,
          jadwal_kalibrasi: this.alat.jadwal_kalibrasi,
          id_distributor: this.alat.id_distributor
        })
        .then(r => {
          console.log(r.statusText);
          this.updateJum();
          this.loading = false;
          Swal.fire("Data", "Berhasil Diinput", "success");
          this.$router.push("/admin/alat");
        })
        .catch(e => {
          this.loading = false;
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(e);
        });
    },
    updateJum() {
      api
        .postApi("/tambah/" + this.alat.id_alat)
        .then(r => {
          console.log("update succes");
        })
        .catch(e => {
          console.log("error" + e);
        });
    }
  }
};
</script>

<style>
</style>
