<template>
<div>
<loading :value="loading"></loading>
  <form-data :title="'input alat '+ nm_kategori" :alat="alat" :action="saveData"></form-data>
</div>
</template>

<script>
import api from "@/common/api.services";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      nm_kategori: "",
      idkat: "",
      loading: false,
      alat: {
        id_ruang: "",
        id_alat: "",
        serial_number: "",
        merek: "",
        type: "",
        tanggal_masuk: "",
        jadwal_kalibrasi: "",
        id_distributor: ""
      }
    };
  },

  components: {
    FormData: () => import("@/components/admin/formAlatByKat.vue"),
    loading: () => import("@/components/loading.vue")
  },
  created() {
    this.getAlat();
  },
  methods: {
    saveData() {
      //untuk menyimpan data
      this.loading = true;
      console.log(this.alat);
      api
        .postApi("/alat", {
          id_ruang: this.alat.id_ruang,
          id_alat: this.idkat,
          serial_number: this.alat.serial_number,
          merek: this.alat.merek,
          type: this.alat.type,
          tanggal_masuk: this.alat.tanggal_masuk,
          jadwal_kalibrasi: this.alat.jadwal_kalibrasi,
          id_distributor: this.alat.id_distributor
        })
        .then(r => {
          console.log(r.statusText);
          this.updateJum();
          this.loading = false;
          Swal.fire("Data", "Berhasil Diinput", "success");
          this.$router.push("/admin/alatbykat/" + this.idkat);
        })
        .catch(e => {
          this.loading = false;
          Swal.fire("Data", "Data gagal Diinput", "error");
          console.log(e);
        });
    },
    getAlat() {
      api
        .getById("/kategorialat", this.$route.params.idkat)
        .then(response => {
          console.log(response.data);
          this.idkat = response.data[0].id;
          this.nm_kategori = response.data[0].nm_alat;
        })
        .catch(e => {
          console.log(e);
        });
    },
    updateJum() {
      api
        .postApi("/tambah/" + this.idkat)
        .then(r => {
          console.log("update succes");
        })
        .catch(e => {
          console.log("error" + e);
        });
    }
  }
};
</script>

<style>
</style>
